@use '../utils' as u;

body {
    color: u.$neutral-900;
    background-color: u.$neutral-50;
    font-family: 'Pretendard';
    line-height: 1.3;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}