@use '../utils' as u;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: u.$neutral-900;
    background-color: u.$neutral-50;
    font-family: 'Pretendard';
    line-height: 1.3;
    word-break: keep-all;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}