@use 'function' as f;
@use 'variables' as v;
@use 'responsive' as r;

// flex, grid etc

// flex mixin
@mixin flex($justifyContent: space-between, $alignItems: center, $gap: null, $flexDirection: row) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    gap: $gap;
    flex-direction: $flexDirection;
}

// btn flex mixin
@mixin btnFlex($justifyContent: space-between, $alignItems: center, $gap: f.rem(10)) {
    display: inline-flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    gap: $gap;
}

// background img mixin
@mixin bgImg($width: 100%, $height: 100%, $backgroundPosition: center, $backgroundSize: cover, $backgroundRepeat: no-repeat) {
    width: $width;
    height: $height;
    background-position: $backgroundPosition;
    background-size: $backgroundSize;
    background-repeat: $backgroundRepeat;
}

// center mixin
@mixin center($position: absolute, $top: 50%, $left: 50%, $transform: translate(-50%, -50%)) {
    position: $position;
    top: $top;
    left: $left;
    transform: $transform;
}

// img mixin
@mixin img($width: 100%, $height: 100%, $objectFit: cover) {
    width: $width;
    height: $height;
    object-fit: $objectFit;
}

@mixin borderTopRadius ($borderTopLeftRadius: f.rem(200), $borderTopRightRadius: f.rem(200)) {
    border-top-left-radius: $borderTopLeftRadius;
    border-top-right-radius: $borderTopRightRadius;
    margin-top: f.rem(-200);
    z-index: 1;
    position: relative;
    background-color: v.$neutral-50;

    @include r.responsive('tablet') {
        border-top-left-radius: f.rem(100);
        border-top-right-radius: f.rem(100);
        margin-top: f.rem(-100);
    }

    @include r.responsive('medium') {
        border-top-left-radius: f.rem(50);
        border-top-right-radius: f.rem(50);
        margin-top: f.rem(-50);
    }

    @include r.responsive('mobile') {
        border-top-left-radius: f.rem(30);
        border-top-right-radius: f.rem(30);
        margin-top: f.rem(-30);
    }
}


// 폰트 크기, 굵기, 간격, 색상 등 기본설정

@mixin defineFont($size: null, $weight: 400, $color: v.$neutral-900, $lineHeight: 1.3, $letterSpacing: 0) {
    font-size: $size;
    font-weight: $weight;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
    color: $color;
}


// title mixin ====================================

@mixin title01 ($size: v.$font-60, $weight: 700, $color: v.$neutral-900, $font-family: 'LaundryGothic') {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $font-family;

    @include r.responsive(tablet) {
        font-size: v.$font-48;
    }

    @include r.responsive(medium) {
        font-size: v.$font-40;
    }

    @include r.responsive(mobile) {
        font-size: v.$font-34;
    }

    @include r.responsive(small) {
        font-size: v.$font-28;
    }
}


@mixin title02 ($size: v.$font-50, $weight: 700, $color: v.$neutral-900, $font-family: 'LaundryGothic') {
    font-size: v.$font-50;
    font-weight: $weight;
    color: $color;
    font-family: $font-family;

    @include r.responsive(tablet) {
        font-size: v.$font-40;
    }

    @include r.responsive(medium) {
        font-size: v.$font-30;
    }

    @include r.responsive(small) {
        font-size: v.$font-26;
    }
}

// subtitle mixin =================================

@mixin subtitle01 ($size: v.$font-40, $weight: 700, $color: v.$neutral-900, $font-family: 'LaundryGothic') {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $font-family;

    @include r.responsive(medium) {
        font-size: v.$font-30;
    }

    @include r.responsive(mobile) {
        font-size: v.$font-26;
    }

}


@mixin subtitle02 ($size: v.$font-60, $weight: 600, $color: v.$neutral-900, $font-family: 'Paperozi') {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $font-family;

    @include r.responsive(tablet) {
        font-size: v.$font-50;
    }

    @include r.responsive(medium) {
        font-size: v.$font-44;
    }

    @include r.responsive(mobile) {
        font-size: v.$font-36;
    }

    @include r.responsive(small) {
        font-size: v.$font-30;
    }
}

@mixin subtitle03 ($size: v.$font-44, $weight: 700, $color: v.$neutral-900, $font-family: 'LaundryGothic') {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $font-family;

    @include r.responsive(tablet) {
        font-size: v.$font-40;
    }

    @include r.responsive(medium) {
        font-size: v.$font-30;
    }

    @include r.responsive(small) {
        font-size: v.$font-26;
    }
}


// mainBody mixin =================================

@mixin mainBody01 ($size: v.$font-30, $weight: 400, $color: v.$neutral-800, $font-family: 'Pretendard') {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $font-family;

    @include r.responsive(tablet) {
        font-size: v.$font-20;
    }

    @include r.responsive(medium) {
        font-size: v.$font-18;
    }

    @include r.responsive(mobile) {
        font-size: v.$font-16;
    }

    @include r.responsive(small) {
        font-size: v.$font-14;
    }
}


@mixin mainBody02 ($size: v.$font-30, $weight: 700, $color: v.$neutral-800, $font-family: 'Pretendard') {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $font-family;

    @include r.responsive(tablet) {
        font-size: v.$font-24;
    }

    @include r.responsive(mobile) {
        font-size: v.$font-22;
    }

    @include r.responsive(small) {
        font-size: v.$font-20;
    }

}


@mixin mainBody03 ($size: v.$font-20, $weight: 500, $color: v.$neutral-800, $font-family: 'Pretendard') {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $font-family;

    @include r.responsive(tablet) {
        font-size: v.$font-18;
    }

    @include r.responsive(medium) {
        font-size: v.$font-16;
    }

}


@mixin mainBody04 ($size: v.$font-24, $weight: 500, $color: v.$neutral-800, $font-family: 'Pretendard') {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $font-family;

    @include r.responsive(tablet) {
        font-size: v.$font-18;
    }

    @include r.responsive(mobile) {
        font-size: v.$font-16;
    }

    @include r.responsive(small) {
        font-size: v.$font-14;
    }

}


@mixin mainBody05 ($size: v.$font-24, $weight: 700, $color: v.$neutral-800, $font-family: 'Pretendard') {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $font-family;

    @include r.responsive(tablet) {
        font-size: v.$font-22;
    }

    @include r.responsive(mobile) {
        font-size: v.$font-18;
    }

    @include r.responsive(small) {
        font-size: v.$font-16;
    }
}

// about mixin ==================================
@mixin aboutBody01 ($size: v.$font-24, $weight: 500, $color: v.$neutral-800, $font-family: 'Pretendard') {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $font-family;


    @include r.responsive(medium) {
        font-size: v.$font-20;
    }

    @include r.responsive(mobile) {
        font-size: v.$font-16;
    }

    @include r.responsive(small) {
        font-size: v.$font-14;
    }
}


@mixin aboutBody02 ($size: v.$font-26, $weight: 500, $color: v.$neutral-800, $font-family: 'Paperozi') {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $font-family;

    @include r.responsive(mobile) {
        font-size: v.$font-20;
    }

}

@mixin aboutBody03 ($size: v.$font-26, $weight: 600, $color: v.$neutral-800, $font-family: 'Paperozi') {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $font-family;

    @include r.responsive(mobile) {
        font-size: v.$font-20;
    }

}

@mixin aboutBody04 ($size: v.$font-30, $weight: 500, $color: v.$neutral-900, $font-family: 'Paperozi') {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $font-family;


    @include r.responsive(tablet) {
        font-size: v.$font-26;
    }

    @include r.responsive(medium) {
        font-size: v.$font-22;
    }

    @include r.responsive(mobile) {
        font-size: v.$font-20;
    }
}

@mixin aboutBody05 ($size: v.$font-20, $weight: 400, $color: v.$neutral-800, $font-family: 'Paperozi') {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $font-family;


    @include r.responsive(medium) {
        font-size: v.$font-18;
    }

    @include r.responsive(mobile) {
        font-size: v.$font-16;
    }

    @include r.responsive(small) {
        font-size: v.$font-14;
    }
}

// action mixin ================================
@mixin actionBody01 ($size: v.$font-20, $weight: 400, $color: v.$neutral-800, $font-family: 'Pretendard') {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $font-family;

    @include r.responsive(medium) {
        font-size: v.$font-18;
    }

    @include r.responsive(mobile) {
        font-size: v.$font-14;
    }

}

// map mixin ================================
@mixin mapBody01 ($size: v.$font-22, $weight: 600, $color: v.$neutral-800, $font-family: 'Paperozi') {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $font-family;

    @include r.responsive(tablet) {
        font-size: v.$font-22;
    }

    @include r.responsive(mobile) {
        font-size: v.$font-18;
    }

    @include r.responsive(small) {
        font-size: v.$font-16;
    }
}

@mixin mapBody02 ($size: v.$font-20, $weight: 500, $color: v.$neutral-800, $font-family: 'Pretendard') {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $font-family;

    @include r.responsive(mobile) {
        font-size: v.$font-18;
    }

    @include r.responsive(small) {
        font-size: v.$font-16;
    }

}

@mixin mapBody03 ($size: v.$font-22, $weight: 400, $color: v.$neutral-800, $font-family: 'Pretendard') {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $font-family;

    @include r.responsive(mobile) {
        font-size: v.$font-18;
    }

    @include r.responsive(small) {
        font-size: v.$font-16;
    }
}

@mixin mapBody04 ($size: v.$font-26, $weight: 700, $color: v.$neutral-800, $font-family: 'Paperozi') {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $font-family;

    @include r.responsive(mobile) {
        font-size: v.$font-22;
    }

    @include r.responsive(small) {
        font-size: v.$font-18;
    }
}

@mixin mapBody05 ($size: v.$font-22, $weight: 500, $color: v.$neutral-800, $font-family: 'Pretendard') {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $font-family;

    @include r.responsive(mobile) {
        font-size: v.$font-18;
    }

    @include r.responsive(small) {
        font-size: v.$font-14;
    }
}

// report mixin ==================================
@mixin reportBody01 ($size: v.$font-24, $weight: 600, $color: v.$neutral-800, $font-family: 'Pretendard') {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $font-family;

    @include r.responsive(medium) {
        font-size: v.$font-22;
    }

    @include r.responsive(mobile) {
        font-size: v.$font-20;
    }

    @include r.responsive(small) {
        font-size: v.$font-18;
    }
}

@mixin reportBody02 ($size: v.$font-20, $weight: 400, $color: v.$neutral-500, $font-family: 'Pretendard') {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $font-family;

    @include r.responsive(mobile) {
        font-size: v.$font-18;
    }

    @include r.responsive(small) {
        font-size: v.$font-16;
    }
}