@use 'variables' as v;


// 공통 반응형 mixin
@mixin responsive($device) {
    @if $device =='pc' {
        @media (max-width: v.$breakpoint-pc) {
            @content;
        }
    }

    @else if $device =='tablet' {
        @media (max-width: v.$breakpoint-tablet) {
            @content;
        }
    }

    @else if $device =='medium' {
        @media (max-width: v.$breakpoint-medium) {
            @content;
        }
    }

    @else if $device =='mobile' {
        @media (max-width: v.$breakpoint-mobile) {
            @content;
        }
    }

    @else if $device =='small' {
        @media (max-width: v.$breakpoint-small) {
            @content;
        }
    }
}

// 반응형 숨김 헬퍼 mixin
@mixin hidden($device) {
    @include responsive($device) {
        display: none !important;
    }
}

// 컨테이너 반응형 설정 헬퍼 mixin
@mixin container-responsive {
    @include responsive(tablet) {
        width: 100%;
    }
}

// 반응형 글자 크기 조정 헬퍼 mixin ----> (예림) 이부분 clamp로는 화면사이즈에 따라 정확한 폰트지정은 어려워서 media query로 맞추는게 어떨까요?
@mixin fluid-font($min, $max) {
    font-size: clamp($min, 2vw, $max);
}