// 색상, 폰트, spacing, breakpoint

// breakpoint
$breakpoint-pc: 1240px;
$breakpoint-tablet: 1024px;
$breakpoint-medium: 768px;
$breakpoint-mobile: 480px;
$breakpoint-small: 360px;

// colors
$neutral-900: #121212;
$neutral-800: #333;
$neutral-700: #555;
$neutral-500: #999;
$neutral-400: #ccc;
$neutral-300: #e9e9e9;
$neutral-200: #f3f3f3;
$neutral-50: #fff;

$primary-700: #00b55f;
$primary-600: #00d76b;
$primary-500: #12f96b;
$primary-400: #57fa94;
$primary-300: #9bffc0;
$primary-50: #e6fff1;

$danger-600: #e02b1d;
$danger-50: #fff1f0;