// 색상, 폰트, spacing, breakpoint
@use 'function' as f;

// breakpoint
$breakpoint-pc: 1240px;
$breakpoint-tablet: 1024px;
$breakpoint-medium: 768px;
$breakpoint-mobile: 480px;
$breakpoint-small: 360px;

// colors
$neutral-900: #121212;
$neutral-800: #333;
$neutral-700: #555;
$neutral-500: #999;
$neutral-400: #ccc;
$neutral-300: #e9e9e9;
$neutral-200: #f3f3f3;
$neutral-50: #fff;

$primary-700: #00b55f;
$primary-600: #00d76b;
$primary-500: #12f96b;
$primary-400: #57fa94;
$primary-300: #9bffc0;
$primary-50: #e6fff1;

$danger-600: #e02b1d;
$danger-50: #fff1f0;

// padding
$padding-10: f.rem(10);
$padding-20: f.rem(20);
$padding-30: f.rem(30);
$padding-40: f.rem(40);
$padding-60: f.rem(60);
$padding-80: f.rem(80);
$padding-100: f.rem(100);
$padding-160: f.rem(160);
$padding-200: f.rem(200);
$padding-250: f.rem(250);

// Font weights
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extraBold: 800;

// Font sizes (기본값 또는 자주 쓰는 사이즈)
$font-14: f.rem(14);
$font-16: f.rem(16);
$font-18: f.rem(18);
$font-20: f.rem(20);
$font-22: f.rem(22);
$font-24: f.rem(24);
$font-26: f.rem(26);
$font-28: f.rem(28);
$font-30: f.rem(30);
$font-34: f.rem(34);
$font-36: f.rem(36);
$font-40: f.rem(40);
$font-44: f.rem(44);
$font-48: f.rem(48);
$font-50: f.rem(50);
$font-60: f.rem(60);