@use '../utils' as u;

.btn {

    // btn normal
    @include u.defineFont (u.rem(30), 700, u.$neutral-50);
    @include u.btnFlex;
    border-radius: u.rem(50);
    padding: u.rem(20) u.rem(60);
    text-align: center;
    border: none;
    transition:
        background-color 0.2s ease,
        border-color 0.2s ease,
        padding 0.2s ease,
        margin 0.2s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;

    // btn medium 
    @include u.responsive('tablet') {
        font-size: u.rem(20);
    }

    // btn small
    @include u.responsive('mobile') {
        font-size: u.rem(16);
        padding: u.rem(15) u.rem(40);
    }

    // black button 
    &--black {
        background-color: u.$neutral-900;

        &:hover {
            background-color: u.$primary-600;
            padding: u.rem(25) u.rem(65);
            margin: u.rem(-5) u.rem(-5);
            transform: translateY(-2px);
            box-shadow: 0 u.rem(8) u.rem(20) rgba(0, 0, 0, 0.25);
            border: none;

            @include u.responsive('mobile') {
                padding: u.rem(15) u.rem(45);
                margin: u.rem(-5) u.rem(-5);
                transform: translateY(-1px);
            }
        }

        &:active {
            background-color: u.$primary-700;
            margin: 0;
            transform: 0;
            box-shadow: none;
            padding: u.rem(20) u.rem(60);
            border: none;

            @include u.responsive('mobile') {
                padding: u.rem(15) u.rem(40);
            }
        }

        &:disabled {
            background-color: u.$neutral-500;
            margin: 0;
            transform: none;
            padding: u.rem(20) u.rem(60);
            box-shadow: none;
            transition: none;
            cursor: auto;
            border: none;

            @include u.responsive('mobile') {
                padding: u.rem(15) u.rem(40);
            }
        }
    }


    // black line button 
    &--blackLine {
        font-size: u.rem(25);
        background-color: u.$neutral-50;
        color: u.$neutral-900;
        border: u.rem(2) solid u.$neutral-900;

        // btn medium 
        @include u.responsive('tablet') {
            font-size: u.rem(20);
        }

        // btn small
        @include u.responsive('mobile') {
            font-size: u.rem(14);
        }

        &:hover {
            background-color: u.$neutral-900;
            color: u.$neutral-50;
            transition: 0.3s all ease-in-out;
            margin: u.rem(-5) u.rem(-5);
            transform: translateY(-2px);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            padding: u.rem(25) u.rem(65);
            border: u.rem(2) solid u.$neutral-900;

            @include u.responsive('mobile') {
                padding: u.rem(15) u.rem(40);
                margin: 0 u.rem(-5);
                transform: translateY(-1px);
            }
        }

        &:active {
            background-color: u.$neutral-900;
            color: u.$neutral-50;
            transition: 0.3s all ease-in-out;
            padding: u.rem(20) u.rem(65);
            border: u.rem(2) solid u.$neutral-900;

            @include u.responsive('mobile') {
                padding: u.rem(15) u.rem(40);
            }
        }

        &:disabled {
            background-color: u.$neutral-300;
            color: u.$neutral-700;
            border: u.rem(2) solid u.$neutral-700;
        }
    }


    // white line button 
    &--whiteLine {
        font-size: u.rem(25);
        background-color: transparent;
        color: u.$neutral-50;
        border: u.rem(3) solid u.$neutral-50;

        // btn medium 
        @include u.responsive('tablet') {
            font-size: u.rem(20);
        }

        // btn small
        @include u.responsive('mobile') {
            font-size: u.rem(14);
        }

        &:hover {
            background-color: u.$neutral-50;
            color: u.$neutral-900;
            border: u.rem(3) solid u.$neutral-50;
            transition: 0.3s all ease-in-out;

            @include u.responsive('mobile') {
                padding: u.rem(15) u.rem(40);
            }
        }

        &:active {
            background-color: u.$neutral-200;
            color: u.$neutral-900;
            border: u.rem(3) solid u.$neutral-200;
            transition: 0.3s all ease-in-out;
        }

        &:disabled {
            background-color: u.$neutral-400;
            color: u.$neutral-800;
            border: u.rem(3) solid u.$neutral-400;
        }
    }
}