@use '../utils' as u;
// input, select, textarea, checkbox etc

// check box

// check-box component 사용 방법
// <div class="check-box"
//      role="checkbox"
//      aria-checked="false"
//      tabindex="0"
//      data-state="default">
//     <span class="check-box__icon" aria-hidden="true"></span>
// </div>

.check-box {
    width: u.rem(24);
    height: u.rem(24);
    border-radius: u.rem(3);
    border: 1px solid u.$neutral-700;
    background: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    outline: none;

    @include u.responsive(tablet) {
        &:hover {
            border-color: u.$neutral-700;
        }
    }

    &:hover {
        border-color: u.$primary-700;
    }

    &:focus-visible {
        border: 2px solid u.$neutral-900;
    }

    &[aria-checked="true"] {
        border-color: u.$neutral-700;

        .check-box__icon {
            opacity: 1;
            transform: scale(1);
        }
    }

    &[data-state="error"] {
        border-color: u.$danger-600;

        &[aria-checked="true"] {
            background: u.$danger-600;
        }
    }

    &[data-state="disabled"] {
        background: u.$neutral-300;
        border: u.$neutral-300;
        cursor: not-allowed;
        pointer-events: none;

        .check-box__icon {
            opacity: 0.5;
        }
    }
}

.check-box__icon {
    @include u.bgImg(u.rem(18), u.rem(16), contain);
    opacity: 0;
}

.check-box[aria-checked="true"] .check-box__icon {
    opacity: 1;
    background-image: url(../img/check-box__icon.png);
}

.check-box[data-set="disabled"][aria-checked="true"] .check-box__icon {
    background-image: url(../img/check-box__icon--disabled.png);
}

.check-box[data-set="error"][aria-checked="true"] .check-box__icon {
    background-image: url(../img/check-box__icon--error.png);
}



// Input field 스타일

input:not([type="radio"], [type="checkbox"]),
textarea,
select {
    padding: u.rem(20);
    color: u.$neutral-500;
    background-color: u.$neutral-300;
    border-radius: u.rem(10);
    border: 1px solid u.$neutral-300;
    @include u.reportBody02;
    // margin-left: u.$padding-20;
    // width: 100%;

    &::placeholder {
        color: u.$neutral-500;
    }

    &:focus {
        // outline: 1px solid u.$neutral-700;
        outline: none;
        border: 1px solid u.$neutral-700;
        color: u.$neutral-800;
    }

    &:hover {
        border: 1px solid u.$neutral-700;
    }

    &:active {
        color: u.$neutral-800;
    }

    &[data-state="error"] {
        background-color: u.$danger-50;
        color: u.$neutral-800;
    }

}

input[type="button"] {
    background-color: u.$neutral-900;
    color: u.$neutral-50;
}

textarea {
    height: u.rem(340);
    resize: none;
}

label {
    @include u.reportBody01;
    width: auto;
}

.form-label::before {
    content: '';
    display: inline-block;
    width: u.rem(12); // 별표 또는 공백 차지할 너비
    margin-right: u.rem(10);
}

// 필수인 경우만 별표 표시
.form-row:has([required]) .form-label::before {
    content: '*';
    color: u.$primary-600;
    display: inline-block;
    width: u.rem(12);
    margin-right: u.rem(10);
}


// 라디오 버튼 커스텀 =================================================

/* 기본스타일 제거, 버튼 모양 재설정 */
input[type='radio'] {
    flex-shrink: 0;
    -webkit-appearance: none;
    /* 웹킷 브라우저에서 기본 스타일 제거*/
    -moz-appearance: none;
    /* 모질라 브라우저에서 기본 스타일 제거*/
    appearance: none;
    /*기본 브라우저에서 기본 스타일 제거*/
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
    /*체크되지 않았을 때의 테두리 색상*/
    border-radius: 50%;
    outline: none;
    /*focus 시에 나타나는 기본 스타일 제거*/
    cursor: pointer;
}

/* 체크 시 버튼 모양 스타일*/
input[type='radio']:checked {
    background-color: u.$primary-500;
    /*체크 시 내부 원 색상*/
    border: 5px solid #fff;
    /*라인이 아닌, 라인과 원 사이 색상*/
    box-shadow: 0 0 0 1px u.$neutral-700;
    /*라인*/
}