@use '../utils' as u;
// input, select, textarea, checkbox etc

// check box

// check-box component 사용 방법
// <div class="check-box"
//      role="checkbox"
//      aria-checked="false"
//      tabindex="0"
//      data-state="default">
//     <span class="check-box__icon" aria-hidden="true"></span>
// </div>

.check-box {
    width: u.rem(24);
    height: u.rem(24);
    border-radius: u.rem(3);
    border: 1px solid u.$neutral-700;
    background: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    outline: none;

    @include u.responsive(tablet) {
        &:hover {
            border-color: u.$neutral-700;
        }
    }

    &:hover {
        border-color: u.$primary-700;
    }

    &:focus-visible {
        border: 2px solid u.$neutral-900;
    }

    &[aria-checked="true"] {
        border-color: u.$neutral-700;

        .check-box__icon {
            opacity: 1;
            transform: scale(1);
        }
    }

    &[data-state="error"] {
        border-color: u.$danger-600;

        &[aria-checked="true"] {
            background: u.$danger-600;
        }
    }

    &[data-state="disabled"] {
        background: u.$neutral-300;
        border: u.$neutral-300;
        cursor: not-allowed;
        pointer-events: none;

        .check-box__icon {
            opacity: 0.5;
        }
    }
}

.check-box__icon {
    @include u.bgImg(u.rem(18), u.rem(16), contain);
    opacity: 0;
}

.check-box[aria-checked="true"] .check-box__icon {
    opacity: 1;
    background-image: url(../img/check-box__icon.png);
}

.check-box[data-set="disabled"][aria-checked="true"] .check-box__icon {
    background-image: url(../img/check-box__icon--disabled.png);
}

.check-box[data-set="error"][aria-checked="true"] .check-box__icon {
    background-image: url(../img/check-box__icon--error.png);
}



// Input field 스타일

input:not([type="radio"], [type="checkbox"]),
textarea,
select {
    padding: u.rem(20);
    color: u.$neutral-500;
    background-color: u.$neutral-300;
    border-radius: u.rem(10);
    border: 1px solid u.$neutral-300;
    @include u.reportBody02;
    // margin-left: u.$padding-20;
    // width: 100%;

    &::placeholder {
        color: u.$neutral-500;
    }

    &:focus {
        // outline: 1px solid u.$neutral-700;
        outline: none;
        border: 1px solid u.$neutral-700;
        color: u.$neutral-800;
    }

    &:hover {
        border: 1px solid u.$neutral-700;
    }

    &:active {
        color: u.$neutral-800;
    }

    &[data-state="error"] {
        background-color: u.$danger-50;
        color: u.$neutral-800;
    }

    &:not(:placeholder-shown) {
        color: u.$neutral-800;
        background-color: u.$neutral-50;
        border: 1px solid u.$neutral-700;
    }

}

input[type="button"] {
    background-color: u.$neutral-900;
    color: u.$neutral-50;
}

/* 값이 있을 때 (입력 완료) */
input:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
    color: u.$neutral-800;
    background-color: u.$neutral-50;
    border-radius: 1px solid u.$neutral-700;
}

textarea {
    height: u.rem(340);
    resize: none;
}

label {
    @include u.reportBody01;
    width: auto;
}

.form-label::before {
    content: '';
    display: inline-block;
    width: u.rem(12); // 별표 또는 공백 차지할 너비
    margin-right: u.rem(10);

    @include u.responsive('mobile') {
        margin-right: 0;
        width: 0;
    }
}

// 필수인 경우만 별표 표시 
.form-row:has([required]) .form-label::before {
    content: '*';
    color: u.$primary-600;
    display: inline-block;
    width: u.rem(12);
    margin-right: u.rem(10);

    @include u.responsive('mobile') {
        margin-right: u.rem(5);
    }
}

// 필수인 경우만 별표 표시 (체크박스 전용)
.form-row:has(input[type="checkbox"][required]) .form-label::after {
    content: '*';
    color: u.$primary-600;
    display: inline-block;
    width: u.rem(12);
    margin-right: u.rem(10);
}


// 라디오 버튼 커스텀 =================================================

/* 기본스타일 제거, 버튼 모양 재설정 */
input[type='radio'] {
    flex-shrink: 0;
    -webkit-appearance: none;
    /* 웹킷 브라우저에서 기본 스타일 제거*/
    -moz-appearance: none;
    /* 모질라 브라우저에서 기본 스타일 제거*/
    appearance: none;
    /*기본 브라우저에서 기본 스타일 제거*/
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
    /*체크되지 않았을 때의 테두리 색상*/
    border-radius: 50%;
    outline: none;
    /*focus 시에 나타나는 기본 스타일 제거*/
    cursor: pointer;
}

/* 체크 시 버튼 모양 스타일*/
input[type='radio']:checked {
    background-color: u.$primary-500;
    /*체크 시 내부 원 색상*/
    border: 5px solid #fff;
    /*라인이 아닌, 라인과 원 사이 색상*/
    box-shadow: 0 0 0 1px u.$neutral-700;
    /*라인*/
}


// checkbox 커스텀 (report페이지 동그라미) ==========================================
/*기본적인 checkbox 디자인 만들기, 박스부분 원래 디자인 없애기*/
input[type="checkbox"] {
    margin: 0px;
    padding: 0px;
    appearance: none;
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background-color: u.$neutral-50;
    border: 1px solid u.$neutral-700;
    border-radius: 50%;
    cursor: pointer;
    @include u.flex(center, center);
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

/* 체크박스 내의 체크 모양 디자인을 하는 부분.*/
input[type="checkbox"]:after {
    content: '';
    color: white;
    display: none;
    border-radius: 50%;
    border: 7px solid u.$primary-500;
}

/* hover시 체크박스 색이 짙어짐 */
input[type="checkbox"]:hover {
    border: 1px solid u.$neutral-900;
}

/* 체크박스 체크시, 체크박스 배경색 바뀜 */
input[type="checkbox"]:checked {
    // background-color: #c0c7be;
}

/* 체크박스 체크 이후, 체크 박스 이후 요소인 체크 아이콘 css 변화
display:none => block을 줌으로써 이제 체크가 보인다.
*/
input[type="checkbox"]:checked::after {
    display: block;
}