@use '../utils' as u;

.header {
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    height: u.rem(100);
    background-color: rgba(u.$neutral-900, 0.8);
    color: u.$neutral-50;
    transition: 0.3s;

    @include u.responsive(tablet) {
        height: u.rem(80);
    }

    .logo a {
        width: u.rem(74);
        height: u.rem(74);

        @include u.responsive(tablet) {
            width: u.rem(60);
            height: u.rem(60);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .container {
        @include u.flex(space-between, center);
        height: 100%;

        .menu-list .menu a {
            transition: 0.3s;
        }

        .menu-list .menu a.active {
            color: u.$primary-500;
        }
    }

    nav {
        min-width: 0;
    }

    &.is-menu-open {
        background-color: u.$neutral-900;
    }
}

.menu-list {
    @include u.flex(start, center, u.rem(40));
    @include u.defineFont(u.rem(20), 500, u.$neutral-50);
}

.hamburger {
    display: none;
    width: u.rem(26);
    height: u.rem(20);
    background: none;
    border: none;
    position: relative;

    span {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 2px;
        background: u.$neutral-50;
        transition: 0.3s;
        transform-origin: center;
    }

    span:nth-child(1) {
        transform: translateY(-8px);
    }

    span:nth-child(2) {
        transform: translateY(0);
    }

    span:nth-child(3) {
        transform: translateY(8px);
    }

    &.is-open {
        span:nth-child(1) {
            transform: rotate(45deg);
        }

        span:nth-child(2) {
            opacity: 0;
        }

        span:nth-child(3) {
            transform: rotate(-45deg);
        }
    }
}

.mobile-menu {
    position: absolute;
    top: 100px;
    right: 0;
    height: 100vh;
    background: u.$neutral-900;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    z-index: 99;

    @include u.responsive(tablet) {
        top: 80px;
    }

    &__list {
        padding: u.rem(90) u.rem(70);
        @include u.flex(start, start, u.rem(50), column);

        a {
            color: u.$neutral-50;
            font-size: u.rem(18);
        }
    }

    &.is-open {
        transform: translateX(0);
    }
}

@include u.responsive(tablet) {
    .header nav {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .mobile-menu {
        width: 67%;
        // display: block;
    }
}

@include u.responsive(mobile) {
    .mobile-menu {
        width: 100%;
    }
}