@use '../utils' as u;

.sub-hero {
    width: 100%;
    height: u.rem(660);

    @include u.responsive(tablet) {
        height: u.rem(560);
    }

    @include u.responsive(mobile) {
        height: u.rem(460);
    }

    &__bg {
        width: 100%;
        height: 100%;
        @include u.bgImg();
        background-image: url(../img/sub-hero__bg.webp);
        display: flex;
        align-items: center;

        .container {
            @include u.flex(center, center);
            height: 100%;
            text-align: center;
            position: relative;
        }
    }

    &__title {
        width: 100%;
        @include u.title01($color: u.$neutral-50);
    }
}