@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #121212;
  background-color: #fff;
  font-family: "Pretendard";
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

@font-face {
  font-family: "Peak Comedy";
  src: url("../font/PeakComedy.ttf") format("ttf"), url("../font/PeakComedy.woff2") format("woff2"), url("../font/PeakComedy.woff") format("woff"), url("../font/PeakComedy.eot") format("eot");
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Thin.ttf") format("ttf"), url("../font/Pretendard-Thin.woff") format("woff"), url("../font/Pretendard-Thin.woff2") format("woff2"), url("../font/Pretendard-Thin.eot") format("eot");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-ExtraLight.ttf") format("ttf"), url("../font/Pretendard-ExtraLight.woff") format("woff"), url("../font/Pretendard-ExtraLight.woff2") format("woff2"), url("../font/Pretendard-ExtraLight.eot") format("eot");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Light.ttf") format("ttf"), url("../font/Pretendard-Light.woff") format("woff"), url("../font/Pretendard-Light.woff2") format("woff2"), url("../font/Pretendard-Light.eot") format("eot");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Regular.ttf") format("ttf"), url("../font/Pretendard-Regular.woff") format("woff"), url("../font/Pretendard-Regular.woff2") format("woff2"), url("../font/Pretendard-Regular.eot") format("eot");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Medium.ttf") format("ttf"), url("../font/Pretendard-Medium.woff") format("woff"), url("../font/Pretendard-Medium.woff2") format("woff2"), url("../font/Pretendard-Medium.eot") format("eot");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-SemiBold.ttf") format("ttf"), url("../font/Pretendard-SemiBold.woff") format("woff"), url("../font/Pretendard-SemiBold.woff2") format("woff2"), url("../font/Pretendard-SemiBold.eot") format("eot");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Bold.ttf") format("ttf"), url("../font/Pretendard-Bold.woff") format("woff"), url("../font/Pretendard-Bold.woff2") format("woff2"), url("../font/Pretendard-Bold.eot") format("eot");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-ExtraBold.ttf") format("ttf"), url("../font/Pretendard-ExtraBold.woff") format("woff"), url("../font/Pretendard-ExtraBold.woff2") format("woff2"), url("../font/Pretendard-ExtraBold.eot") format("eot");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard-Black.ttf") format("ttf"), url("../font/Pretendard-Black.woff") format("woff"), url("../font/Pretendard-Black.woff2") format("woff2"), url("../font/Pretendard-Black.eot") format("eot");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("../font/Paperlogy-1Thin.ttf") format("ttf"), url("../font/Paperlogy-1Thin.woff") format("woff"), url("../font/Paperlogy-1Thin.woff2") format("woff2"), url("../font/Paperlogy-1Thin.eot") format("eot");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("../font/Paperlogy-2ExtraLight.ttf") format("ttf"), url("../font/Paperlogy-2ExtraLight.woff") format("woff"), url("../font/Paperlogy-2ExtraLight.woff2") format("woff2"), url("../font/Paperlogy-2ExtraLight.eot") format("eot");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("../font/Paperlogy-3Light.ttf") format("ttf"), url("../font/Paperlogy-3Light.woff") format("woff"), url("../font/Paperlogy-3Light.woff2") format("woff2"), url("../font/Paperlogy-3Light.eot") format("eot");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("../font/Paperlogy-4Regular.ttf") format("ttf"), url("../font/Paperlogy-4Regular.woff") format("woff"), url("../font/Paperlogy-4Regular.woff2") format("woff2"), url("../font/Paperlogy-4Regular.eot") format("eot");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("../font/Paperlogy-5Medium.ttf") format("ttf"), url("../font/Paperlogy-5Medium.woff") format("woff"), url("../font/Paperlogy-5Medium.woff2") format("woff2"), url("../font/Paperlogy-5Medium.eot") format("eot");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("../font/Paperlogy-6SemiBold.ttf") format("ttf"), url("../font/Paperlogy-6SemiBold.woff") format("woff"), url("../font/Paperlogy-6SemiBold.woff2") format("woff2"), url("../font/Paperlogy-6SemiBold.eot") format("eot");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("../font/Paperlogy-7Bold.ttf") format("ttf"), url("../font/Paperlogy-7Bold.woff") format("woff"), url("../font/Paperlogy-7Bold.woff2") format("woff2"), url("../font/Paperlogy-7Bold.eot") format("eot");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("../font/Paperlogy-8ExtraBold.ttf") format("ttf"), url("../font/Paperlogy-8ExtraBold.woff") format("woff"), url("../font/Paperlogy-8ExtraBold.woff2") format("woff2"), url("../font/Paperlogy-8ExtraBold.eot") format("eot");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("../font/Paperlogy-9Black.ttf") format("ttf"), url("../font/Paperlogy-9Black.woff") format("woff"), url("../font/Paperlogy-9Black.woff2") format("woff2"), url("../font/Paperlogy-9Black.eot") format("eot");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "LaundryGothic";
  src: url("../font/LaundryGothic-Regular.ttf") format("ttf"), url("../font/LaundryGothic-Regular.woff") format("woff"), url("../font/LaundryGothic-Regular.woff2") format("woff2"), url("../font/LaundryGothic-Regular.eot") format("eot");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "LaundryGothic";
  src: url("../font/LaundryGothic-Bold.ttf") format("ttf"), url("../font/LaundryGothic-Bold.woff") format("woff"), url("../font/LaundryGothic-Bold.woff2") format("woff2"), url("../font/LaundryGothic-Bold.eot") format("eot");
  font-weight: 700;
  font-display: swap;
}
.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  height: 6.25rem;
  background-color: #121212;
  opacity: 0.8;
  color: #fff;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 100%;
}
.header .container .menu-list .menu a {
  transition: 0.3s;
}
.header .container .menu-list .menu a.active {
  color: #12f96b;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  flex-direction: row;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0;
  color: #fff;
}

.hamburger {
  display: none;
  width: 1.75rem;
  height: 1.25rem;
  background: none;
  border-radius: 50px;
  border: none;
  position: relative;
}
.hamburger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}
.hamburger span:nth-child(1) {
  top: 0;
}
.hamburger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.hamburger span:nth-child(3) {
  bottom: 0;
}
.hamburger.is-open span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
.hamburger.is-open span:nth-child(2) {
  opacity: 0;
}
.hamburger.is-open span:nth-child(3) {
  bottom: 50%;
  transform: rotate(-45deg);
}

.mobile-menu {
  position: fixed;
  top: 90px;
  left: 0;
  height: 100vh;
  background: #121212;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  z-index: 99;
  display: none;
}
.mobile-menu__list {
  padding: 5.625rem 4.375rem;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 3.125rem;
  flex-direction: column;
}
.mobile-menu__list a {
  color: #fff;
  font-size: 1.125rem;
}
.mobile-menu.is-open {
  transform: translateX(0);
}

@media (max-width: 1024px) {
  .header nav {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .mobile-menu {
    width: 67%;
  }
}
@media (max-width: 480px) {
  .mobile-menu {
    width: 100%;
  }
}
.footer {
  width: 100%;
  padding: 8.75rem 0;
  background-color: #333;
  color: #e9e9e9;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2.5rem;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer__left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.875rem;
  flex-direction: column;
}
.footer__txt ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.footer__policy {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0;
  color: #e9e9e9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
  flex-direction: row;
}
.footer__info {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0;
  color: #ccc;
  padding-top: 1.25rem;
  max-width: 50rem;
  flex-wrap: wrap;
}
.footer .copyright {
  padding-top: 1.875rem;
}
.footer__sns {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

.sub-hero {
  width: 100%;
  height: 41.25rem;
}
.sub-hero__bg {
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/sub-hero__bg.webp);
  position: relative;
}
.sub-hero__title {
  font-size: 3.75rem;
  font-weight: 700;
  color: #fff;
  font-family: "LaundryGothic";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1024px) {
  .sub-hero__title {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .sub-hero__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 480px) {
  .sub-hero__title {
    font-size: 2.125rem;
  }
}
@media (max-width: 360px) {
  .sub-hero__title {
    font-size: 1.75rem;
  }
}

.btn {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0;
  color: #fff;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
  border-radius: 3.125rem;
  padding: 1.25rem 3.75rem;
  text-align: cetner;
}
@media (max-width: 1024px) {
  .btn {
    font-size: 1.25rem;
  }
}
.btn--black {
  background-color: #121212;
  border: 0.1875rem solid #121212;
}
@media (max-width: 1024px) {
  .btn--black {
    font-size: 1.25rem;
  }
}
@media (max-width: 480px) {
  .btn--black {
    font-size: 1rem;
    padding: 0.9375rem 2.5rem;
  }
}
.btn--black:hover {
  background-color: #00d76b;
  transition: 0.3s all ease-in-out;
  border: 0.1875rem solid #00d76b;
}
.btn--blackLine {
  font-size: 1.5625rem;
  background-color: #fff;
  color: #121212;
  border: 0.1875rem solid #121212;
}
@media (max-width: 480px) {
  .btn--blackLine {
    font-size: 0.875rem;
  }
}
@media (max-width: 1024px) {
  .btn--blackLine {
    font-size: 1.25rem;
  }
}
.btn--blackLine:hover {
  background-color: #121212;
  color: #fff;
  transition: 0.3s all ease-in-out;
}
.btn--whiteLine {
  font-size: 1.5625rem;
  background-color: transparent;
  color: #fff;
  border: 0.1875rem solid #fff;
}
@media (max-width: 1024px) {
  .btn--whiteLine {
    font-size: 1.25rem;
  }
}
@media (max-width: 480px) {
  .btn--whiteLine {
    font-size: 0.875rem;
  }
}
.btn--whiteLine:hover {
  background-color: #fff;
  color: #121212;
  border: 0.1875rem solid #121212;
  transition: 0.3s all ease-in-out;
}

.check-box {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.1875rem;
  border: 1px solid #555;
  background: transparent;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  outline: none;
}
.check-box:hover {
  border-color: #00b55f;
}
.check-box:focus-visible {
  border: 2px solid #121212;
}
.check-box[aria-checked=true] {
  border-color: #555;
}
.check-box[aria-checked=true] .check-box__icon {
  opacity: 1;
  transform: scale(1);
}
.check-box[data-state=error] {
  border-color: #e02b1d;
}
.check-box[data-state=error][aria-checked=true] {
  background: #e02b1d;
}
.check-box[data-state=disabled] {
  background: #e9e9e9;
  border: #e9e9e9;
  cursor: not-allowed;
  pointer-events: none;
}
.check-box[data-state=disabled] .check-box__icon {
  opacity: 0.5;
}

.check-box__icon {
  width: 1.125rem;
  height: 1rem;
  background-position: contain;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
}

.check-box[aria-checked=true] .check-box__icon {
  opacity: 1;
  background-image: url(../img/check-box__icon.png);
}

.check-box[data-set=disabled][aria-checked=true] .check-box__icon {
  background-image: url(../img/check-box__icon--disabled.png);
}

.check-box[data-set=error][aria-checked=true] .check-box__icon {
  background-image: url(../img/check-box__icon--error.png);
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}
.hero__img-wrap {
  background: url("/assets/img/hero-sec-bg.webp");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 1024px) {
  .hero__img-wrap {
    background: url("/assets/img/hero-sec-bg_1024.webp");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 768px) {
  .hero__img-wrap {
    background: url("/assets/img/hero-sec-bg_768.webp");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 480px) {
  .hero__img-wrap {
    background: url("/assets/img/hero-sec-bg_480.webp");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 360px) {
  .hero__img-wrap {
    background: url("/assets/img/hero-sec-bg_360.webp");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.hero__img01 {
  position: absolute;
  left: 50%;
  top: 28%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
@media (max-width: 768px) {
  .hero__img01 {
    top: 40%;
  }
}
.hero__img02 {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
@media (max-width: 768px) {
  .hero__img02 {
    top: 68%;
  }
}
.hero__img-kid {
  background: url("/assets/img/hero-img-kid.webp");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media (max-width: 1024px) {
  .hero__img-kid {
    background: url("/assets/img/hero-img-kid_1024.webp");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 768px) {
  .hero__img-kid {
    background: url("/assets/img/hero-img-kid_768.webp");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 480px) {
  .hero__img-kid {
    background: url("/assets/img/hero-img-kid_480.webp");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 360px) {
  .hero__img-kid {
    background: url("/assets/img/hero-img-kid_360.webp");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.intro {
  padding-top: 12.5rem;
  padding-bottom: 12.5rem;
}
.intro__txt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
}
.intro__title {
  padding-bottom: 1.25rem;
  font-size: 3.75rem;
  font-weight: 700;
  color: #121212;
  font-family: "LaundryGothic";
  text-align: center;
}
@media (max-width: 1024px) {
  .intro__title {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .intro__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 480px) {
  .intro__title {
    font-size: 2.125rem;
  }
}
@media (max-width: 360px) {
  .intro__title {
    font-size: 1.75rem;
  }
}
.intro__title span {
  color: #00d76b;
}
.intro__conts {
  padding-bottom: 2.5rem;
  font-size: 1.875rem;
  font-weight: 400;
  color: #333;
  font-family: "Pretendard";
  line-height: 1.5;
  text-align: center;
}
@media (max-width: 1024px) {
  .intro__conts {
    font-size: 1.25rem;
  }
}
@media (max-width: 768px) {
  .intro__conts {
    font-size: 1.125rem;
  }
}
@media (max-width: 480px) {
  .intro__conts {
    font-size: 1rem;
  }
}
@media (max-width: 360px) {
  .intro__conts {
    font-size: 0.875rem;
  }
}

.merit {
  position: relative;
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0.264) 10%, rgba(20, 20, 20, 0.547) 25%, rgba(20, 20, 20, 0.613) 50%, rgba(20, 20, 20, 0.75) 75%, rgb(20, 20, 20) 100%), url("/assets/img/merit-sec-bg.webp");
  width: 100vw;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 12.5rem;
  width: 100vw;
}
.merit__title {
  font-size: 3.75rem;
  font-weight: 700;
  color: #121212;
  font-family: "LaundryGothic";
  text-align: center;
  color: #fff;
  padding-top: 6.25rem;
  padding-bottom: 3.75rem;
}
@media (max-width: 1024px) {
  .merit__title {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .merit__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 480px) {
  .merit__title {
    font-size: 2.125rem;
  }
}
@media (max-width: 360px) {
  .merit__title {
    font-size: 1.75rem;
  }
}
.merit .line-svg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  pointer-events: none;
  z-index: 1;
  display: none;
}
@media (max-width: 1024px) {
  .merit .line-svg {
    transform: translateX(-90%);
  }
}
@media (max-width: 768px) {
  .merit .line-svg {
    transform: translateX(-80%);
  }
}
.merit #line-svg-desktop {
  max-width: 75rem;
  display: block;
}
.merit #line-path {
  stroke-linecap: round;
}
@media (max-width: 1024px) {
  .merit #line-svg-desktop {
    display: none;
  }
  .merit #line-svg-tablet {
    max-width: 19.375rem;
    display: block;
  }
}
@media (max-width: 480px) {
  .merit #line-svg-tablet {
    display: none;
  }
  .merit #line-svg-mobile {
    max-width: 11.875rem;
    display: block;
  }
}
.merit__img {
  position: relative;
  height: 193.75rem;
  z-index: 2;
}
@media (max-width: 1024px) {
  .merit__img {
    height: 165.625rem;
  }
}
@media (max-width: 480px) {
  .merit__img {
    height: 134.375rem;
  }
}
.merit__img01 {
  position: absolute;
  top: 10rem;
  left: 17.125rem;
  width: 17.625rem;
}
@media (max-width: 768px) {
  .merit__img01 {
    left: 12.5rem;
  }
}
@media (max-width: 480px) {
  .merit__img01 {
    left: 6.25rem;
    top: 0.625rem;
  }
}
.merit__img02 {
  position: absolute;
  top: 37.5rem;
  right: 6.375rem;
  width: 21rem;
}
@media (max-width: 1024px) {
  .merit__img02 {
    left: 23.75rem;
    top: 40.625rem;
  }
}
@media (max-width: 768px) {
  .merit__img02 {
    left: 19.375rem;
    top: 41.875rem;
  }
}
@media (max-width: 480px) {
  .merit__img02 {
    left: 7.5rem;
    top: 26.25rem;
  }
}
.merit__img03 {
  position: absolute;
  top: 70.625rem;
  right: 12.75rem;
  width: 18.375rem;
}
@media (max-width: 1024px) {
  .merit__img03 {
    left: 16.25rem;
    top: 68.125rem;
  }
}
@media (max-width: 768px) {
  .merit__img03 {
    left: 11.25rem;
    top: 69.375rem;
  }
}
@media (max-width: 480px) {
  .merit__img03 {
    left: 4.375rem;
    top: 51.25rem;
  }
}
.merit__img04 {
  position: absolute;
  top: 107.5rem;
  left: 18rem;
  width: 17.0625rem;
}
@media (max-width: 1024px) {
  .merit__img04 {
    left: 21.875rem;
    top: 100rem;
  }
}
@media (max-width: 768px) {
  .merit__img04 {
    left: 16.875rem;
    top: 100.625rem;
  }
}
@media (max-width: 480px) {
  .merit__img04 {
    left: 6.875rem;
    top: 77.5rem;
  }
}
.merit__img05 {
  position: absolute;
  top: 152.5rem;
  left: 13.9375rem;
  width: 19rem;
}
@media (max-width: 1024px) {
  .merit__img05 {
    left: 17.5rem;
    top: 128.75rem;
  }
}
@media (max-width: 768px) {
  .merit__img05 {
    left: 12.5rem;
    top: 129.375rem;
  }
}
@media (max-width: 480px) {
  .merit__img05 {
    left: 5rem;
    top: 103.125rem;
  }
}
.merit__subtitle {
  font-size: 2.75rem;
  font-weight: 700;
  color: #121212;
  font-family: "LaundryGothic";
  color: #121212;
  background-color: #12f96b;
  padding: 1.25rem 3.125rem;
  border-radius: 6.25rem;
  display: block;
  width: fit-content;
  margin: 0 auto;
  z-index: 5;
}
@media (max-width: 1024px) {
  .merit__subtitle {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  .merit__subtitle {
    font-size: 1.875rem;
  }
}
@media (max-width: 360px) {
  .merit__subtitle {
    font-size: 1.625rem;
  }
}
.merit__list01 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  flex-direction: row;
  text-align: center;
  padding: 5rem 1.25rem 12.5rem;
}
.merit__list01 li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  flex-direction: column;
}
.merit__list01 h3 {
  font-size: 1.875rem;
  font-weight: 700;
  color: #333;
  font-family: "Pretendard";
  color: #fff;
}
@media (max-width: 1024px) {
  .merit__list01 h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  .merit__list01 h3 {
    font-size: 1.375rem;
  }
}
@media (max-width: 360px) {
  .merit__list01 h3 {
    font-size: 1.25rem;
  }
}
.merit__list01 p {
  font-size: 1.25rem;
  font-weight: 500;
  color: #333;
  font-family: "Pretendard";
  color: #ccc;
  line-height: 1.3;
}
@media (max-width: 1024px) {
  .merit__list01 p {
    font-size: 1.125rem;
  }
}
@media (max-width: 768px) {
  .merit__list01 p {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .merit__list01 {
    flex-direction: column;
    gap: 1.875rem;
  }
}
.merit__list02-wrap h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #121212;
  font-family: "LaundryGothic";
  text-align: center;
  color: #fff;
  padding-bottom: 2.5rem;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .merit__list02-wrap h3 {
    font-size: 1.875rem;
  }
}
@media (max-width: 480px) {
  .merit__list02-wrap h3 {
    font-size: 1.625rem;
  }
}
.merit__group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  flex-direction: row;
  /* SVG 기본 상태 */
  /* JS에서 strokeDasharray/offset을 덮어씌우지만 초기값을 지정해둠 */
}
.merit__list02 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 3.75rem;
  flex-direction: column;
}
.merit__list02 li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.75rem;
  flex-direction: row;
}
.merit__list02 li:first-child img {
  padding-left: 1.875rem;
  padding-right: 1.25rem;
}
@media (max-width: 480px) {
  .merit__list02 li:first-child img {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
}
.merit__list02 li .line01 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
  font-family: "Pretendard";
  color: #fff;
  line-height: 1.3;
  width: 100%;
}
@media (max-width: 768px) {
  .merit__list02 li .line01 {
    font-size: 1.125rem;
  }
}
@media (max-width: 480px) {
  .merit__list02 li .line01 {
    font-size: 1rem;
  }
}
.merit__list02 li .line02 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  font-family: "Pretendard";
  color: #fff;
  line-height: 1.3;
}
@media (max-width: 768px) {
  .merit__list02 li .line02 {
    font-size: 1.375rem;
  }
}
@media (max-width: 480px) {
  .merit__list02 li .line02 {
    font-size: 1.125rem;
  }
}
@media (max-width: 360px) {
  .merit__list02 li .line02 {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .merit__list02 li {
    gap: 2.5rem;
  }
}
.merit__txt {
  text-align: center;
  padding-top: 12.5rem;
  margin: 0 auto;
}
.merit__txt h3 {
  padding-bottom: 2.5rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #121212;
  font-family: "LaundryGothic";
  color: #12f96b;
}
@media (max-width: 768px) {
  .merit__txt h3 {
    font-size: 1.875rem;
  }
}
@media (max-width: 480px) {
  .merit__txt h3 {
    font-size: 1.625rem;
  }
}
.merit__text-wrap {
  position: relative;
  display: inline-block;
  padding-bottom: 0.375rem;
}
.merit__underline {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.125rem;
  pointer-events: none;
}
.merit__underline-path {
  stroke: #12f96b;
  stroke-width: 0.25rem;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.zeromap__wrap {
  padding: 12.5rem 0;
  text-align: center;
  background-image: url("/assets/img/zeromap-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.zeromap__title {
  font-size: 3.75rem;
  font-weight: 700;
  color: #121212;
  font-family: "LaundryGothic";
  padding-bottom: 1.25rem;
  line-height: 1.2;
}
@media (max-width: 1024px) {
  .zeromap__title {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .zeromap__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 480px) {
  .zeromap__title {
    font-size: 2.125rem;
  }
}
@media (max-width: 360px) {
  .zeromap__title {
    font-size: 1.75rem;
  }
}
.zeromap__desc {
  font-size: 1.875rem;
  font-weight: 400;
  color: #333;
  font-family: "Pretendard";
  line-height: 1.3;
  padding-bottom: 2.5rem;
}
@media (max-width: 1024px) {
  .zeromap__desc {
    font-size: 1.25rem;
  }
}
@media (max-width: 768px) {
  .zeromap__desc {
    font-size: 1.125rem;
  }
}
@media (max-width: 480px) {
  .zeromap__desc {
    font-size: 1rem;
  }
}
@media (max-width: 360px) {
  .zeromap__desc {
    font-size: 0.875rem;
  }
}

.about__desc {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
  font-family: "Pretendard";
  text-align: center;
  padding: 6.25rem 0;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .about__desc {
    font-size: 1.125rem;
  }
}
@media (max-width: 480px) {
  .about__desc {
    font-size: 1rem;
  }
}

/* 5R section */
.r5 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  flex-direction: column;
  width: 100%;
  padding: 6.25rem 0;
  /* ----------------- hover ----------------- */
}
.r5__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #121212;
  font-family: "LaundryGothic";
  text-align: center;
}
@media (max-width: 768px) {
  .r5__title {
    font-size: 1.875rem;
  }
}
@media (max-width: 480px) {
  .r5__title {
    font-size: 1.625rem;
  }
}
.r5__card-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.875rem;
}
@media (max-width: 1024px) {
  .r5__card-wrap {
    gap: 1.875rem 1.25rem;
  }
}
@media (max-width: 480px) {
  .r5__card-wrap {
    gap: 0.9375rem;
  }
}
.r5__card {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1.25rem;
  overflow: hidden;
  width: calc((100% - 1.875rem * 2) / 3);
  aspect-ratio: 380/580;
}
@media (max-width: 1024px) {
  .r5__card {
    width: calc((100% - 1.25rem * 2) / 3);
    aspect-ratio: 320/400;
  }
}
@media (max-width: 768px) {
  .r5__card {
    width: calc((100% - 1.25rem * 2) / 2);
    aspect-ratio: 350/300;
  }
}
@media (max-width: 480px) {
  .r5__card {
    width: 100%;
    aspect-ratio: 350/300;
  }
}
@media (max-width: 360px) {
  .r5__card {
    width: 100%;
    height: 16.25rem;
  }
}
.r5__card01 {
  background-image: url(../img/5Rsec-card01.webp);
}
.r5__card02 {
  background-image: url(../img/5Rsec-card02.webp);
}
.r5__card03 {
  background-image: url(../img/5Rsec-card03.webp);
}
.r5__card04 {
  background-image: url(../img/5Rsec-card04.webp);
}
.r5__card05 {
  background-image: url(../img/5Rsec-card05.webp);
}
.r5__card-textwrap {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7.1875rem;
  padding: 1rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5625rem;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.4s ease;
}
.r5__card-line {
  display: block;
  width: 2.5rem;
  height: 0.25rem;
  background-color: #fff;
  border-radius: 3.125rem;
  transition: transform 0.3s ease;
}
.r5__card-title {
  font-size: 1.875rem;
  font-weight: 700;
  color: #fff;
  font-family: "Paperozi";
}
@media (max-width: 1024px) {
  .r5__card-title {
    font-size: 1.625rem;
  }
}
@media (max-width: 768px) {
  .r5__card-title {
    font-size: 1.375rem;
  }
}
@media (max-width: 480px) {
  .r5__card-title {
    font-size: 1.25rem;
  }
}
.r5__card-desc {
  font-size: 1.25rem;
  font-weight: 400;
  color: #333;
  font-family: "Pretendard";
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.25s ease;
  color: #fff;
}
@media (max-width: 768px) {
  .r5__card-desc {
    font-size: 1.125rem;
  }
}
@media (max-width: 480px) {
  .r5__card-desc {
    font-size: 0.875rem;
  }
}
.r5__card:hover .r5__card-textwrap {
  bottom: 0;
  left: 0;
  height: 100%;
  padding: 0;
}
.r5__card:hover .r5__card-line {
  position: relative;
  top: -8.75rem;
}
.r5__card:hover .r5__card-desc {
  opacity: 1;
  height: auto;
}
@media (max-width: 1024px) {
  .r5__card-textwrap {
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1rem 0;
    gap: 0.5rem;
  }
  .r5__card-line {
    display: none;
  }
  .r5__card-desc {
    opacity: 1;
    height: auto;
  }
  .r5__card-desc span {
    display: none;
  }
  .r5__card:hover .r5__card-textwrap {
    height: auto;
  }
}

/* effects section */
.effects {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  flex-direction: column;
  width: 100%;
  padding: 6.25rem 0;
}
.effects__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #121212;
  font-family: "LaundryGothic";
  text-align: center;
}
@media (max-width: 768px) {
  .effects__title {
    font-size: 1.875rem;
  }
}
@media (max-width: 480px) {
  .effects__title {
    font-size: 1.625rem;
  }
}
.effects__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  flex-direction: column;
}
.effects__card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.375rem;
  flex-direction: row;
  width: 100%;
}
.effects__card:nth-child(odd) {
  flex-direction: row;
}
.effects__card:nth-child(odd) {
  flex-direction: row-reverse;
}
@media (max-width: 1024px) {
  .effects__card {
    gap: 1.875rem;
  }
}
@media (max-width: 480px) {
  .effects__card {
    padding: 1.875rem;
    gap: 1.25rem;
    background: #e9e9e9;
    border-radius: 1.25rem;
  }
  .effects__card:nth-child(odd), .effects__card:nth-child(odd) {
    flex-direction: row;
  }
}
.effects__img {
  width: 100%;
  max-width: 14.375rem;
  height: auto;
  aspect-ratio: 1/1;
}
@media (max-width: 1024px) {
  .effects__img {
    max-width: 11.25rem;
  }
}
@media (max-width: 768px) {
  .effects__img {
    max-width: 8.75rem;
  }
}
@media (max-width: 480px) {
  .effects__img {
    max-width: 5.9375rem;
  }
}
@media (max-width: 480px) {
  .effects__img {
    max-width: 4.75rem;
  }
}
.effects__text-wrap {
  background: #e9e9e9;
  border-radius: 1.25rem;
  width: 100%;
  max-width: 43.25rem;
  padding: 2.875rem;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
  flex-direction: column;
  word-break: keep-all;
}
@media (max-width: 768px) {
  .effects__text-wrap {
    padding: 1.875rem;
  }
}
@media (max-width: 480px) {
  .effects__text-wrap {
    padding: 0;
  }
}
.effects__card-title {
  font-size: 1.875rem;
  font-weight: 500;
  color: #121212;
  font-family: "Paperozi";
}
@media (max-width: 1024px) {
  .effects__card-title {
    font-size: 1.625rem;
  }
}
@media (max-width: 768px) {
  .effects__card-title {
    font-size: 1.375rem;
  }
}
@media (max-width: 480px) {
  .effects__card-title {
    font-size: 1.25rem;
  }
}
.effects__card-title span {
  font-size: 1.875rem;
  font-weight: 600;
  color: #121212;
  font-family: "Paperozi";
}
@media (max-width: 1024px) {
  .effects__card-title span {
    font-size: 1.625rem;
  }
}
@media (max-width: 768px) {
  .effects__card-title span {
    font-size: 1.375rem;
  }
}
@media (max-width: 480px) {
  .effects__card-title span {
    font-size: 1.25rem;
  }
}
@media (max-width: 480px) {
  .effects__card-title span::before {
    content: "\a";
    white-space: pre;
  }
}
.effects__card-desc {
  font-size: 1.375rem;
}
@media (max-width: 1024px) {
  .effects__card-desc {
    font-size: 1.25rem;
  }
}
@media (max-width: 768px) {
  .effects__card-desc {
    font-size: 1.125rem;
  }
}
@media (max-width: 480px) {
  .effects__card-desc {
    display: none;
  }
}

/* benefit section */
.benefit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  flex-direction: column;
  width: 100%;
  padding: 6.25rem 0;
  word-break: keep-all;
}
.benefit__subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  color: #333;
  font-family: "Paperozi";
  text-align: center;
}
@media (max-width: 768px) {
  .benefit__subtitle {
    font-size: 1.125rem;
  }
}
@media (max-width: 480px) {
  .benefit__subtitle {
    font-size: 1rem;
  }
}
@media (max-width: 360px) {
  .benefit__subtitle {
    font-size: 0.875rem;
  }
}
.benefit__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #121212;
  font-family: "LaundryGothic";
  text-align: center;
}
@media (max-width: 768px) {
  .benefit__title {
    font-size: 1.875rem;
  }
}
@media (max-width: 480px) {
  .benefit__title {
    font-size: 1.625rem;
  }
}
.benefit__wrap {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 6.25rem;
  flex-direction: row;
}
@media (max-width: 768px) {
  .benefit__wrap {
    gap: 1.875rem;
  }
}
@media (max-width: 480px) {
  .benefit__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    flex-direction: column;
  }
}
.benefit__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-direction: column;
}
.benefit__circle {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
  font-family: "Paperozi";
  font-weight: 500;
  color: #333;
}
.benefit__circle01 {
  width: 16.375rem;
  height: 16.375rem;
  background: #00d76b;
}
@media (max-width: 768px) {
  .benefit__circle01 {
    width: 12.5rem;
    height: 12.5rem;
  }
  .benefit__circle01 img {
    width: 6.25rem;
  }
}
.benefit__circle01 p {
  font-size: 1.75rem;
}
@media (max-width: 1024px) {
  .benefit__circle01 p {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .benefit__circle01 p {
    font-size: 1.375rem;
  }
}
.benefit__circle02 {
  width: 12.5rem;
  height: 12.5rem;
  background: #57fa94;
}
@media (max-width: 768px) {
  .benefit__circle02 {
    width: 10rem;
    height: 10rem;
  }
  .benefit__circle02 img {
    width: 5.9375rem;
  }
}
.benefit__circle02 p {
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .benefit__circle02 p {
    font-size: 1rem;
  }
}
.benefit__circle03 {
  width: 10rem;
  height: 10rem;
  background: #9bffc0;
}
@media (max-width: 768px) {
  .benefit__circle03 {
    width: 8rem;
    height: 8rem;
  }
  .benefit__circle03 img {
    width: 3.5rem;
  }
}
.benefit__circle03 p {
  font-size: 1rem;
}
@media (max-width: 768px) {
  .benefit__circle03 p {
    font-size: 0.875rem;
  }
}
.benefit__text {
  text-align: center;
  font-size: 1.625rem;
  font-weight: 500;
  color: #333;
  font-family: "Paperozi";
}
@media (max-width: 480px) {
  .benefit__text {
    font-size: 1.25rem;
  }
}
.benefit__count {
  font-size: 1.625rem;
  font-weight: 600;
  color: #333;
  font-family: "Paperozi";
  color: #00d76b;
}
@media (max-width: 480px) {
  .benefit__count {
    font-size: 1.25rem;
  }
}

/* actions section */
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  flex-direction: column;
  width: 100%;
  padding: 6.25rem 0;
}
.actions__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #121212;
  font-family: "LaundryGothic";
  text-align: center;
}
@media (max-width: 768px) {
  .actions__title {
    font-size: 1.875rem;
  }
}
@media (max-width: 480px) {
  .actions__title {
    font-size: 1.625rem;
  }
}
.actions__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  flex-direction: column;
}
.actions__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 6.25rem;
  width: 100%;
}
@media (max-width: 1024px) {
  .actions__card {
    gap: 3.75rem;
  }
}
@media (max-width: 768px) {
  .actions__card {
    gap: 1.875rem;
  }
}
@media (max-width: 480px) {
  .actions__card {
    grid-template-columns: 1fr;
  }
}
.actions__img {
  width: 100%;
  max-width: 24rem;
  aspect-ratio: 384/283;
  overflow: hidden;
  border-radius: 30% 6%;
}
.actions__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .actions__img {
    aspect-ratio: 353/260;
  }
}
@media (max-width: 768px) {
  .actions__img {
    aspect-ratio: 300/220;
  }
}
@media (max-width: 480px) {
  .actions__img {
    max-width: none;
  }
}
.actions__text-wrap {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0.625rem;
  flex-direction: column;
  width: 100%;
  max-width: 30rem;
}
.actions__text-title {
  font-family: "Paperozi";
  font-weight: 500;
  font-size: 1.875rem;
}
@media (max-width: 1024px) {
  .actions__text-title {
    font-size: 1.75rem;
  }
}
@media (max-width: 768px) {
  .actions__text-title {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  .actions__text-title {
    font-size: 1.375rem;
  }
}
.actions__text-title span {
  color: #00d76b;
}
.actions__line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
.actions__direct {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-direction: row;
}
.actions__direct:hover .actions__desc {
  text-decoration: underline;
  text-decoration-color: #555;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
.actions__check {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-direction: row;
}
.actions__desc {
  font-size: 1.375rem;
  font-weight: 500;
}
@media (max-width: 768px) {
  .actions__desc {
    font-size: 1.25rem;
  }
}
@media (max-width: 480px) {
  .actions__desc {
    font-size: 1rem;
  }
}

.action__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #121212;
  font-family: "LaundryGothic";
  padding-top: 6.25rem;
  text-align: center;
}
@media (max-width: 768px) {
  .action__title {
    font-size: 1.875rem;
  }
}
@media (max-width: 480px) {
  .action__title {
    font-size: 1.625rem;
  }
}

.action__notice {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 300;
  color: #999;
  font-family: "Pretendard";
  padding: 0.625rem;
}
@media (max-width: 768px) {
  .action__notice {
    font-size: 1.125rem;
  }
}
@media (max-width: 480px) {
  .action__notice {
    font-size: 0.875rem;
  }
}

.action-tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
  flex-direction: row;
  padding: 3.75rem 0 2.5rem;
}
.action-tabs__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  font-size: 1.375rem;
  font-weight: 500;
  color: #555;
  font-family: "Pretendard";
  padding: 0.625rem 1.875rem;
  border-radius: 3.125rem;
  border: none;
  background-color: #f3f3f3;
  color: #555;
  transition: background-color 0.25s ease, color 0.25s ease;
}
@media (max-width: 768px) {
  .action-tabs__btn {
    font-size: 1.125rem;
  }
}
@media (max-width: 480px) {
  .action-tabs__btn {
    font-size: 0.875rem;
  }
}
.action-tabs__btn.is-active {
  background-color: #00d76b;
  color: #fff;
}

.tumbler {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15.625rem;
}
.tumbler__grid {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.375rem 1.25rem;
}
.tumbler__card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.875rem;
  flex-direction: row;
  width: calc((100% - 1.25rem * 2) / 3);
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 1.25rem;
  padding: 2.1875rem;
}
.tumbler__info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  flex-direction: column;
}
.tumbler__brand {
  font-size: 1.5rem;
  font-weight: 600;
  color: #121212;
  font-family: "Pretendard";
}
@media (max-width: 768px) {
  .tumbler__brand {
    font-size: 1.125rem;
  }
}
@media (max-width: 480px) {
  .tumbler__brand {
    font-size: 0.875rem;
  }
}
.tumbler__benefit {
  font-size: 1.375rem;
  font-weight: 400;
  color: #333;
  font-family: "Pretendard";
}
@media (max-width: 768px) {
  .tumbler__benefit {
    font-size: 1.125rem;
  }
}
@media (max-width: 480px) {
  .tumbler__benefit {
    font-size: 0.875rem;
  }
}

.campaign {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: column;
  flex-direction: row;
  width: 100%;
  margin-bottom: 6.25rem;
}
.campaign__grid {
  width: 100%;
  display: flex;
  justify-content: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem 1.25rem;
}
.campaign__card {
  width: calc((100% - 1.25rem * 3) / 4);
}
@media (max-width: 768px) {
  .campaign__card {
    width: calc((100% - 1.25rem * 2) / 3);
  }
}
@media (max-width: 480px) {
  .campaign__card {
    width: calc((100% - 1.25rem) / 2);
  }
}
@media (max-width: 360px) {
  .campaign__card {
    width: 100%;
  }
}
.campaign__wrap {
  display: block;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.875rem;
  flex-direction: column;
}
.campaign__img {
  width: 100%;
  border-radius: 1.25rem;
  overflow: hidden;
}
.campaign__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-out;
}
.campaign__wrap:hover .campaign__img img, .campaign__wrap:focus-visible .campaign__img img {
  transform: scale(1.1);
}
.campaign__title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #121212;
  margin-bottom: 0.625rem;
}
.campaign__date {
  font-size: 1rem;
  font-weight: 400;
  color: #999;
}
.campaign__pagination {
  padding-bottom: 15.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  flex-direction: row;
}
.campaign__page-btn {
  height: 1.5625rem;
  width: 1.5625rem;
  padding: 0;
  border: none;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.campaign__page-btn-number {
  font-size: 1.5rem;
  font-weight: 400;
  color: #121212;
  font-family: "Pretendard";
  margin: 0 0.625rem;
}
@media (max-width: 1024px) {
  .campaign__page-btn-number {
    font-size: 1.125rem;
  }
}
@media (max-width: 768px) {
  .campaign__page-btn-number {
    font-size: 1rem;
  }
}
.campaign__page-btn-number.is-active {
  color: #121212;
  font-weight: 400;
}
.campaign__page-btn-icon {
  font-size: 1.75rem;
  font-weight: 400;
  color: #999;
  font-family: "Pretendard";
}
@media (max-width: 1024px) {
  .campaign__page-btn-icon {
    font-size: 1.125rem;
  }
}
@media (max-width: 768px) {
  .campaign__page-btn-icon {
    font-size: 1rem;
  }
}
.campaign__page-btn-icon:hover {
  color: #555;
}

.oneday {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-direction: column;
  width: 100%;
}
.oneday__grid {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3.75rem 1.25rem;
  margin-bottom: 6.25rem;
}
.oneday__card {
  width: calc((100% - 1.25rem * 2) / 3);
}
@media (max-width: 480px) {
  .oneday__card {
    width: calc((100% - 1.25rem) / 2);
  }
}
@media (max-width: 360px) {
  .oneday__card {
    width: 100%;
  }
}
.oneday__wrap {
  display: block;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.875rem;
  flex-direction: column;
}
.oneday__img {
  width: 100%;
  border-radius: 1.25rem;
  overflow: hidden;
}
.oneday__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.25s ease;
}
.oneday__wrap:hover .oneday__img img {
  transform: scale(1.1);
}
.oneday__title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #121212;
  margin-top: 0.875rem;
  margin-bottom: 0.625rem;
}

.map {
  width: 100%;
  height: 100%;
}
.map__conts-wrap {
  padding: 6.25rem 0 10rem;
  background-color: #fff;
  border-top-left-radius: 12.5rem;
  border-top-right-radius: 12.5rem;
  width: 100%;
  height: 100%;
  margin-top: -12.5rem;
  border-top-left-radius: 12.5rem;
  border-top-right-radius: 12.5rem;
}
@media (max-width: 1024px) {
  .map__conts-wrap {
    border-top-left-radius: 6.25rem;
    border-top-right-radius: 6.25rem;
  }
}
@media (max-width: 768px) {
  .map__conts-wrap {
    border-top-left-radius: 3.125rem;
    border-top-right-radius: 3.125rem;
  }
}
@media (max-width: 480px) {
  .map__conts-wrap {
    border-top-left-radius: 1.875rem;
    border-top-right-radius: 1.875rem;
  }
}
.map__img-wrap {
  width: 100%;
  height: 125rem;
  overflow-x: auto;
  white-space: nowrap;
}
.map__img {
  background-image: url("/assets/img/map-pc.webp");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: auto 100%;
  overflow-x: auto;
}
@media (max-width: 1024px) {
  .map__img {
    background-image: url("/assets/img/map-tablet.webp");
    background-size: auto 100%;
  }
}
@media (max-width: 480px) {
  .map__img {
    background-image: url("/assets/img/map-mobile.webp");
    background-size: auto 100%;
  }
}
.map__title-wrap {
  margin-bottom: 1.875rem;
}
.map__title {
  font-size: 3.75rem;
  font-weight: 600;
  color: #121212;
  font-family: "Paperozi";
}
@media (max-width: 1024px) {
  .map__title {
    font-size: 3.125rem;
  }
}
@media (max-width: 768px) {
  .map__title {
    font-size: 2.75rem;
  }
}
@media (max-width: 480px) {
  .map__title {
    font-size: 2.25rem;
  }
}
@media (max-width: 360px) {
  .map__title {
    font-size: 1.875rem;
  }
}
.map__desc {
  font-size: 1.375rem;
  font-weight: 600;
  color: #333;
  font-family: "Paperozi";
}
@media (max-width: 1024px) {
  .map__desc {
    font-size: 1.375rem;
  }
}
@media (max-width: 480px) {
  .map__desc {
    font-size: 1.125rem;
  }
}
@media (max-width: 360px) {
  .map__desc {
    font-size: 1rem;
  }
}
.map__desc span {
  color: #00d76b;
}
.map__grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 1.25rem;
}
@media (max-width: 1024px) {
  .map__grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .map__grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.map__grid-title {
  font-size: 1.375rem;
  font-weight: 600;
  color: #333;
  font-family: "Paperozi";
  color: #121212;
}
@media (max-width: 1024px) {
  .map__grid-title {
    font-size: 1.375rem;
  }
}
@media (max-width: 480px) {
  .map__grid-title {
    font-size: 1.125rem;
  }
}
@media (max-width: 360px) {
  .map__grid-title {
    font-size: 1rem;
  }
}
.map__grid-hashtag {
  font-size: 1.25rem;
  font-weight: 500;
  color: #333;
  font-family: "Pretendard";
  color: #00d76b;
}
@media (max-width: 480px) {
  .map__grid-hashtag {
    font-size: 1.125rem;
  }
}
@media (max-width: 360px) {
  .map__grid-hashtag {
    font-size: 1rem;
  }
}
.map__grid-list {
  font-size: 1.375rem;
  font-weight: 400;
  color: #333;
  font-family: "Pretendard";
  padding-left: 20px;
  list-style-position: inside;
}
@media (max-width: 480px) {
  .map__grid-list {
    font-size: 1.125rem;
  }
}
@media (max-width: 360px) {
  .map__grid-list {
    font-size: 1rem;
  }
}
.map__grid-list li {
  list-style: disc;
}
.map__grid-item {
  background-color: #fff;
  padding: 0.625rem;
  line-height: 1.5;
}
.map__report-cta {
  padding: 5rem 0;
  text-align: center;
  background-color: #e9e9e9;
}
.map__report-text {
  line-height: 1.5;
}
.map__report-title {
  font-size: 1.625rem;
  font-weight: 700;
  color: #333;
  font-family: "Paperozi";
}
@media (max-width: 480px) {
  .map__report-title {
    font-size: 1.375rem;
  }
}
@media (max-width: 360px) {
  .map__report-title {
    font-size: 1.125rem;
  }
}
.map__report-desc {
  font-size: 1.375rem;
  font-weight: 400;
  color: #333;
  font-family: "Pretendard";
  margin-bottom: 1.25rem;
}
@media (max-width: 480px) {
  .map__report-desc {
    font-size: 1.125rem;
  }
}
@media (max-width: 360px) {
  .map__report-desc {
    font-size: 1rem;
  }
}