@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #121212;
  background-color: #fff;
  font-family: "Pretendard";
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Peak Comedy";
  src: url("../../font/Peak Comedy.ttf") format("ttf"), url("../../font/Peak Comedy.woff2") format("woff2"), url("../../font/Peak Comedy.woff") format("woff"), url("../../font/Peak Comedy.eot") format("eot");
}
@font-face {
  font-family: "Pretendard";
  src: url("../../font/Pretendard-Thin.ttf") format("ttf"), url("../../font/Pretendard-Thin.woff") format("woff"), url("../../font/Pretendard-Thin.woff2") format("woff2"), url("../../font/Pretendard-Thin.eot") format("eot");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../font/Pretendard-ExtraLight.ttf") format("ttf"), url("../../font/Pretendard-ExtraLight.woff") format("woff"), url("../../font/Pretendard-ExtraLight.woff2") format("woff2"), url("../../font/Pretendard-ExtraLight.eot") format("eot");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../font/Pretendard-Light.ttf") format("ttf"), url("../../font/Pretendard-Light.woff") format("woff"), url("../../font/Pretendard-Light.woff2") format("woff2"), url("../../font/Pretendard-Light.eot") format("eot");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../font/Pretendard-Regular.ttf") format("ttf"), url("../../font/Pretendard-Regular.woff") format("woff"), url("../../font/Pretendard-Regular.woff2") format("woff2"), url("../../font/Pretendard-Regular.eot") format("eot");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../font/Pretendard-Medium.ttf") format("ttf"), url("../../font/Pretendard-Medium.woff") format("woff"), url("../../font/Pretendard-Medium.woff2") format("woff2"), url("../../font/Pretendard-Medium.eot") format("eot");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../font/Pretendard-SemiBold.ttf") format("ttf"), url("../../font/Pretendard-SemiBold.woff") format("woff"), url("../../font/Pretendard-SemiBold.woff2") format("woff2"), url("../../font/Pretendard-SemiBold.eot") format("eot");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../font/Pretendard-Bold.ttf") format("ttf"), url("../../font/Pretendard-Bold.woff") format("woff"), url("../../font/Pretendard-Bold.woff2") format("woff2"), url("../../font/Pretendard-Bold.eot") format("eot");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../font/Pretendard-ExtraBold.ttf") format("ttf"), url("../../font/Pretendard-ExtraBold.woff") format("woff"), url("../../font/Pretendard-ExtraBold.woff2") format("woff2"), url("../../font/Pretendard-ExtraBold.eot") format("eot");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../font/Pretendard-Black.ttf") format("ttf"), url("../../font/Pretendard-Black.woff") format("woff"), url("../../font/Pretendard-Black.woff2") format("woff2"), url("../../font/Pretendard-Black.eot") format("eot");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("../../font/Paperlogy-1Thin.ttf") format("ttf"), url("../../font/Paperlogy-1Thin.woff") format("woff"), url("../../font/Paperlogy-1Thin.woff2") format("woff2"), url("../../font/Paperlogy-1Thin.eot") format("eot");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("../../font/Paperlogy-2ExtraLight.ttf") format("ttf"), url("../../font/Paperlogy-2ExtraLight.woff") format("woff"), url("../../font/Paperlogy-2ExtraLight.woff2") format("woff2"), url("../../font/Paperlogy-2ExtraLight.eot") format("eot");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("../../font/Paperlogy-3Light.ttf") format("ttf"), url("../../font/Paperlogy-3Light.woff") format("woff"), url("../../font/Paperlogy-3Light.woff2") format("woff2"), url("../../font/Paperlogy-3Light.eot") format("eot");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("../../font/Paperlogy-4Regular.ttf") format("ttf"), url("../../font/Paperlogy-4Regular.woff") format("woff"), url("../../font/Paperlogy-4Regular.woff2") format("woff2"), url("../../font/Paperlogy-4Regular.eot") format("eot");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("../../font/Paperlogy-5Medium.ttf") format("ttf"), url("../../font/Paperlogy-5Medium.woff") format("woff"), url("../../font/Paperlogy-5Medium.woff2") format("woff2"), url("../../font/Paperlogy-5Medium.eot") format("eot");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("../../font/Paperlogy-6SemiBold.ttf") format("ttf"), url("../../font/Paperlogy-6SemiBold.woff") format("woff"), url("../../font/Paperlogy-6SemiBold.woff2") format("woff2"), url("../../font/Paperlogy-6SemiBold.eot") format("eot");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("../../font/Paperlogy-7Bold.ttf") format("ttf"), url("../../font/Paperlogy-7Bold.woff") format("woff"), url("../../font/Paperlogy-7Bold.woff2") format("woff2"), url("../../font/Paperlogy-7Bold.eot") format("eot");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("../../font/Paperlogy-8ExtraBold.ttf") format("ttf"), url("../../font/Paperlogy-8ExtraBold.woff") format("woff"), url("../../font/Paperlogy-8ExtraBold.woff2") format("woff2"), url("../../font/Paperlogy-8ExtraBold.eot") format("eot");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("../../font/Paperlogy-9Black.ttf") format("ttf"), url("../../font/Paperlogy-9Black.woff") format("woff"), url("../../font/Paperlogy-9Black.woff2") format("woff2"), url("../../font/Paperlogy-9Black.eot") format("eot");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "LaundryGothic";
  src: url("../../font/런드리고딕 Regular.ttf") format("ttf"), url("../../font/런드리고딕 Regular.woff") format("woff"), url("../../font/런드리고딕 Regular.woff2") format("woff2"), url("../../font/런드리고딕 Regular.eot") format("eot");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "LaundryGothic";
  src: url("../../font/런드리고딕 Bold.ttf") format("ttf"), url("../../font/런드리고딕 Bold.woff") format("woff"), url("../../font/런드리고딕 Bold.woff2") format("woff2"), url("../../font/런드리고딕 Bold.eot") format("eot");
  font-weight: 700;
  font-display: swap;
}
header {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  height: 6.25rem;
  background-color: #121212;
  opacity: 0.8;
  color: #fff;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  flex-direction: row;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0;
  color: #fff;
}

.footer {
  width: 100%;
  padding: 8.75rem 0;
  background-color: #333;
  color: #e9e9e9;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
}
.footer__txt ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.footer__policy {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0;
  color: #e9e9e9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
  flex-direction: row;
}
.footer__info {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0;
  color: #ccc;
  padding-top: 1.25rem;
  max-width: 50rem;
  flex-wrap: wrap;
}
.footer .copyright {
  padding-top: 1.875rem;
}
.footer__left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.875rem;
  flex-direction: column;
}
.footer__sns {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

.btn {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 3.125rem;
  padding: 1.25rem 3.75rem;
}
@media (max-width: 1024px) {
  .btn {
    font-size: 1.25rem;
  }
}
@media (max-width: 480px) {
  .btn {
    font-size: 1rem;
    padding: 0.9375rem 2.5rem;
  }
}
.btn--black {
  background-color: #121212;
  border: 0.1875rem solid #121212;
}
.btn--black:hover {
  background-color: #00d76b;
  transition: 0.3s all ease-in-out;
  border: 0.1875rem solid #00d76b;
}
.btn--blackLine {
  background-color: #fff;
  color: #121212;
  border: 0.1875rem solid #121212;
}
.btn--blackLine:hover {
  background-color: #121212;
  color: #fff;
  transition: 0.3s all ease-in-out;
}
.btn--whiteLine {
  background-color: transparent;
  color: #fff;
  border: 0.1875rem solid #fff;
}
.btn--whiteLine:hover {
  background-color: #fff;
  color: #121212;
  border: 0.1875rem solid #121212;
  transition: 0.3s all ease-in-out;
}

.hero {
  background: url("../img/hero-sec-bg.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}
.hero__txt-wrap {
  position: relative;
  font-family: "Peak Comedy";
  font-size: 12.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.hero__txt01 {
  position: absolute;
  top: -15.625rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #12f96b;
  z-index: 0;
}
.hero__txt02 {
  position: absolute;
  color: #fff;
  top: 15.625rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.hero__img-wrap {
  position: relative;
}
.hero__img-wrap img {
  position: absolute;
}
.hero__img-wrap .img-mask {
  top: 42.5rem;
  left: 54%;
  transform: translate(-50%, -50%);
  height: 53.75rem;
  z-index: 1;
}
.hero__img-wrap .circle-img-sm {
  top: 40.625rem;
  right: 27%;
}
.hero__img-wrap .circle-img-lg {
  top: 25rem;
  left: 43%;
}
.hero__img-wrap .eyes-img {
  top: 10rem;
  left: 37%;
  z-index: 4;
}
.hero__img-wrap .line-img {
  top: 48.125rem;
  left: 23%;
}
.hero__img-wrap .star-img {
  top: 50.625rem;
  right: 22%;
}

.intro {
  padding-top: 12.5rem;
  padding-bottom: 12.5rem;
}
.intro__txt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
}
.intro__title {
  padding-bottom: 1.25rem;
  font-size: 3.75rem;
  font-weight: 700;
  color: #121212;
  font-family: "LaundryGothic";
}
@media (max-width: 1024px) {
  .intro__title {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .intro__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 480px) {
  .intro__title {
    font-size: 2.125rem;
  }
}
@media (max-width: 360px) {
  .intro__title {
    font-size: 1.75rem;
  }
}
.intro__title span {
  color: #00d76b;
}
.intro__conts {
  padding-bottom: 2.5rem;
  font-size: 1.875rem;
  font-weight: 400;
  color: #333;
  font-family: "Pretendard";
  line-height: 1.5;
  text-align: center;
}
@media (max-width: 1024px) {
  .intro__conts {
    font-size: 1.25rem;
  }
}
@media (max-width: 768px) {
  .intro__conts {
    font-size: 1.125rem;
  }
}
@media (max-width: 480px) {
  .intro__conts {
    font-size: 1rem;
  }
}
@media (max-width: 360px) {
  .intro__conts {
    font-size: 0.875rem;
  }
}

.effect {
  position: relative;
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0.264) 10%, rgba(20, 20, 20, 0.547) 25%, rgba(20, 20, 20, 0.613) 50%, rgba(20, 20, 20, 0.75) 75%, rgb(20, 20, 20) 100%), url("/assets/img/effect-sec-bg.jpeg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 12.5rem;
}
.effect__title {
  font-size: 3.75rem;
  font-weight: 700;
  color: #121212;
  font-family: "LaundryGothic";
  text-align: center;
  color: #fff;
  padding-top: 6.25rem;
  padding-bottom: 3.75rem;
}
@media (max-width: 1024px) {
  .effect__title {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .effect__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 480px) {
  .effect__title {
    font-size: 2.125rem;
  }
}
@media (max-width: 360px) {
  .effect__title {
    font-size: 1.75rem;
  }
}
.effect #line-svg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 75rem;
  height: auto;
  pointer-events: none;
  z-index: 1;
}
.effect #line-path {
  stroke-linecap: round;
}
.effect__img {
  position: relative;
  height: 193.75rem;
  z-index: 2;
}
.effect__img01 {
  position: absolute;
  top: 13.125rem;
  left: 17.125rem;
  width: 17.625rem;
}
.effect__img02 {
  position: absolute;
  top: 40rem;
  right: 6.375rem;
  width: 21rem;
}
.effect__img03 {
  position: absolute;
  top: 71.875rem;
  right: 12.75rem;
  width: 18.375rem;
}
.effect__img04 {
  position: absolute;
  top: 108.125rem;
  left: 18rem;
  width: 17.0625rem;
}
.effect__img05 {
  position: absolute;
  top: 152.5rem;
  left: 13.9375rem;
  width: 19rem;
}
.effect__subtitle {
  font-size: 3.75rem;
  font-weight: 600;
  color: #121212;
  font-family: "LaundryGothic";
  color: #121212;
  background-color: #12f96b;
  padding: 1.25rem 3.125rem;
  border-radius: 6.25rem;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  z-index: 5;
}
@media (max-width: 1024px) {
  .effect__subtitle {
    font-size: 3.125rem;
  }
}
@media (max-width: 768px) {
  .effect__subtitle {
    font-size: 2.75rem;
  }
}
@media (max-width: 480px) {
  .effect__subtitle {
    font-size: 2.25rem;
  }
}
@media (max-width: 360px) {
  .effect__subtitle {
    font-size: 1.875rem;
  }
}
.effect__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.75rem;
  flex-direction: row;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 12.5rem;
}
.effect__list li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  flex-direction: column;
}
.effect__list h3 {
  font-size: 1.875rem;
  font-weight: 700;
  color: #333;
  font-family: "Pretendard";
  color: #fff;
}
@media (max-width: 1024px) {
  .effect__list h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  .effect__list h3 {
    font-size: 1.375rem;
  }
}
@media (max-width: 360px) {
  .effect__list h3 {
    font-size: 1.25rem;
  }
}
.effect__list p {
  font-size: 1.25rem;
  font-weight: 500;
  color: #333;
  font-family: "Pretendard";
  color: #ccc;
  line-height: 1.3;
}
@media (max-width: 1024px) {
  .effect__list p {
    font-size: 1.125rem;
  }
}
@media (max-width: 768px) {
  .effect__list p {
    font-size: 1rem;
  }
}
.effect__merit-wrap h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #121212;
  font-family: "LaundryGothic";
  text-align: center;
  color: #fff;
  padding-bottom: 2.5rem;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .effect__merit-wrap h3 {
    font-size: 1.875rem;
  }
}
@media (max-width: 480px) {
  .effect__merit-wrap h3 {
    font-size: 1.625rem;
  }
}
.effect__merit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  flex-direction: row;
  /* SVG 기본 상태 */
  /* JS에서 strokeDasharray/offset을 덮어씌우지만 초기값을 지정해둠 */
}
.effect__merit svg {
  overflow: visible;
  display: block;
}
.effect__merit svg path {
  stroke: #12F96B;
  stroke-width: 8;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition: none;
}
.effect__merit svg circle {
  transform-origin: center;
  transform-box: fill-box;
  opacity: 0.3;
  transform: scale(0.7);
}
.effect__merit-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3.75rem;
  flex-direction: column;
}
.effect__merit-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  flex-direction: row;
}
.effect__merit-list .line01 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #333;
  font-family: "Pretendard";
  color: #fff;
  line-height: 1.3;
}
@media (max-width: 768px) {
  .effect__merit-list .line01 {
    font-size: 1.125rem;
  }
}
@media (max-width: 480px) {
  .effect__merit-list .line01 {
    font-size: 1rem;
  }
}
@media (max-width: 360px) {
  .effect__merit-list .line01 {
    font-size: 1rem;
  }
}
.effect__merit-list .line02 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  font-family: "Pretendard";
  color: #fff;
  line-height: 1.3;
}
@media (max-width: 768px) {
  .effect__merit-list .line02 {
    font-size: 1.375rem;
  }
}
@media (max-width: 480px) {
  .effect__merit-list .line02 {
    font-size: 1.125rem;
  }
}
@media (max-width: 360px) {
  .effect__merit-list .line02 {
    font-size: 1rem;
  }
}
.effect__txt {
  text-align: center;
  padding: 12.5rem 0;
}
.effect__txt h3 {
  padding-bottom: 2.5rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #121212;
  font-family: "LaundryGothic";
  color: #12f96b;
}
@media (max-width: 768px) {
  .effect__txt h3 {
    font-size: 1.875rem;
  }
}
@media (max-width: 480px) {
  .effect__txt h3 {
    font-size: 1.625rem;
  }
}
.zeromap__wrap {
  padding: 12.5rem 0;
  text-align: center;
}
.zeromap__title {
  font-size: 3.75rem;
  font-weight: 700;
  color: #121212;
  font-family: "LaundryGothic";
  padding-bottom: 1.25rem;
  line-height: 1.2;
}
@media (max-width: 1024px) {
  .zeromap__title {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .zeromap__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 480px) {
  .zeromap__title {
    font-size: 2.125rem;
  }
}
@media (max-width: 360px) {
  .zeromap__title {
    font-size: 1.75rem;
  }
}
.zeromap__desc {
  font-size: 1.875rem;
  font-weight: 400;
  color: #333;
  font-family: "Pretendard";
  line-height: 1.3;
  padding-bottom: 2.5rem;
}
@media (max-width: 1024px) {
  .zeromap__desc {
    font-size: 1.25rem;
  }
}
@media (max-width: 768px) {
  .zeromap__desc {
    font-size: 1.125rem;
  }
}
@media (max-width: 480px) {
  .zeromap__desc {
    font-size: 1rem;
  }
}
@media (max-width: 360px) {
  .zeromap__desc {
    font-size: 0.875rem;
  }
}