@use '../utils' as u;

.about-wrap {
    @include u.borderTopRadius();
    margin-top: u.rem(-200);
    z-index: 1;
    position: relative;
    background-color: u.$neutral-50;
    padding-top: u.$padding-100;
    padding-bottom: u.$padding-250;

    @include u.responsive(tablet) {
        margin-top: u.rem(-100);
    }

    @include u.responsive(medium) {
        margin-top: u.rem(-50);
    }

    @include u.responsive(mobile) {
        margin-top: u.rem(-30);
    }

    .container {
        @include u.flex(center, center, u.rem(200), column);

        @include u.responsive(tablet) {
            gap: u.rem(150);
        }

        @include u.responsive(medium) {
            gap: u.rem(100);
        }
    }
}

.about__desc {
    @include u.mainBody04();
    text-align: center;
    line-height: 1.5;

    @include u.responsive(mobile) {
        br {
            display: none;
        }
    }
}

/* 5R section */
.r5 {
    @include u.flex(center, center, u.rem(40), column);
    width: 100%;

    &__title {
        @include u.subtitle01();
        text-align: center;
    }

    &__card-wrap {
        width: 100%;
        @include u.flex(center);
        flex-wrap: wrap;
        gap: u.rem(30);

        @include u.responsive(tablet) {
            gap: u.rem(30) u.rem(20);
        }

        @include u.responsive(mobile) {
            gap: u.rem(15);
        }
    }

    &__card {
        position: relative;
        @include u.bgImg();
        border-radius: u.rem(20);
        overflow: hidden;
        width: calc((100% - (u.rem(30) * 2)) / 3);
        aspect-ratio: 380 / 580;

        @include u.responsive(tablet) {
            width: calc((100% - (u.rem(20) * 2)) / 3);
            aspect-ratio: 320/400;
        }

        @include u.responsive(medium) {
            width: calc((100% - (u.rem(20) * 2)) / 2);
            aspect-ratio: 350/300;
        }

        @include u.responsive(mobile) {
            width: 100%;
            aspect-ratio: 350/300;
        }

        @include u.responsive(small) {
            width: 100%;
            height: u.rem(260);
        }
    }

    &__card01 {
        background-image: url(../img/5Rsec-card01.webp);
    }

    &__card02 {
        background-image: url(../img/5Rsec-card02.webp);
    }

    &__card03 {
        background-image: url(../img/5Rsec-card03.webp);
    }

    &__card04 {
        background-image: url(../img/5Rsec-card04.webp);
    }

    &__card05 {
        background-image: url(../img/5Rsec-card05.webp);
    }

    &__card-textwrap {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: u.rem(115);
        padding: 1rem 0;
        text-align: center;

        @include u.flex(center, center, u.rem(25), column);

        background: rgba(0, 0, 0, 0.7);
        transition: all 0.4s ease;
    }

    &__card-line {
        display: block;
        width: u.rem(40);
        height: u.rem(4);
        background-color: u.$neutral-50;
        border-radius: u.rem(50);
        transition: all 0.3s ease;
        flex-shrink: 0;
    }

    &__card-title {
        @include u.aboutBody04($weight: 700, $color: u.$neutral-50);
    }

    &__card-desc {
        @include u.actionBody01($weight: 400);
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity 0.25s ease;
        color: u.$neutral-50;

    }

    /* ----------------- hover ----------------- */
    &__card:hover {

        .r5__card-textwrap {
            bottom: 0;
            left: 0;
            height: 100%;
            padding: 0;
        }

        .r5__card-line {
            position: relative;
            top: u.rem(-140);
        }

        .r5__card-desc {
            opacity: 1;
            height: auto;
        }
    }

    @include u.responsive(tablet) {
        &__card-textwrap {
            bottom: 0;
            left: 0;
            width: 100%;
            height: auto;
            padding: 1rem 0;
            gap: u.rem(8);
        }

        &__card-line {
            display: none;
        }

        &__card-desc {
            opacity: 1;
            height: auto;

            span {
                display: none;
            }
        }

        // 1024px 이하에서는 호버 효과 비활성화
        &__card:hover {
            .r5__card-textwrap {
                height: auto;
                padding: 1rem 0;
            }

            .r5__card-line {
                position: static;
                top: auto;
            }

            .r5__card-desc {
                opacity: 1;
                height: auto;
            }
        }
    }
}

/* effects section */
.effects {
    @include u.flex(center, center, u.rem(40), column);
    width: 100%;

    &__title {
        @include u.subtitle01();
        text-align: center;
    }

    &__wrap {
        width: 100%;
        @include u.flex(center, center, u.rem(40), column);
    }

    &__card {
        @include u.flex(center, center, u.rem(70));
        width: 100%;

        &:nth-child(odd) {
            flex-direction: row;
        }

        &:nth-child(odd) {
            flex-direction: row-reverse;
        }

        &.fade-up-card {
            opacity: 0;
            transform: translateY(u.rem(100));
        }

        @include u.responsive(tablet) {
            gap: u.rem(30);
        }

        @include u.responsive(mobile) {

            &:nth-child(odd),
            &:nth-child(odd) {
                flex-direction: row;
            }

            padding: u.rem(15);
            gap: u.rem(20);
            background: u.$neutral-300;
            border-radius: u.rem(20);
        }
    }

    &__img {
        width: 100%;
        max-width: u.rem(230);
        height: auto;
        aspect-ratio: 1 / 1;

        @include u.responsive(tablet) {
            max-width: u.rem(180);
        }

        @include u.responsive (medium) {
            max-width: u.rem(140);
        }

        @include u.responsive (mobile) {
            max-width: u.rem(95);
        }

        @include u.responsive (mobile) {
            max-width: u.rem(76);
        }
    }

    &__text-wrap {
        background: u.$neutral-300;
        border-radius: u.rem(20);
        width: 100%;
        max-width: u.rem(692);
        padding: u.rem(46);
        @include u.flex(start, start, u.rem(8), column);

        @include u.responsive(medium) {
            padding: u.rem(30)
        }

        @include u.responsive(mobile) {
            padding: 0;
        }
    }

    &__card-title {
        @include u.aboutBody04();

        span {
            @include u.aboutBody04($weight: 600);

            @include u.responsive(mobile) {
                &::before {
                    content: "\A";
                    white-space: pre;
                }
            }
        }
    }

    &__card-desc {
        font-size: u.rem(22);

        @include u.responsive(tablet) {
            font-size: u.rem(20);
        }

        @include u.responsive(medium) {
            font-size: u.rem(16);
        }

        @include u.responsive(mobile) {
            display: none;
        }
    }

}

/* benefit section */
.benefit {
    @include u.flex(center, center, u.rem(40), column);
    width: 100%;

    &__subtitle {
        @include u.aboutBody05();
        text-align: center;
    }

    &__title {
        @include u.subtitle01();
        text-align: center;
    }

    &__wrap {
        @include u.flex(center, end, clamp(u.rem(20), 6vw, u.rem(100)));

        @include u.responsive(mobile) {
            @include u.flex(center, center, u.rem(50), column);
        }
    }

    &__item {
        @include u.flex(center, center, u.rem(10), column);
    }

    &__circle {
        border-radius: 50%;
        @include u.flex(center, center, u.rem(8), column);
        font-family: 'Paperozi';
        font-weight: 500;
        color: u.$neutral-800;
    }

    &__circle01 {
        width: u.rem(262);
        height: u.rem(262);
        background: u.$primary-600;

        @include u.responsive(medium) {
            width: u.rem(200);
            height: u.rem(200);

            img {
                width: u.rem(100);
            }
        }

        p {
            font-size: u.rem(28);

            @include u.responsive(tablet) {
                font-size: u.rem(24);
            }

            @include u.responsive(medium) {
                font-size: u.rem(22);
            }
        }
    }

    &__circle02 {
        width: u.rem(200);
        height: u.rem(200);
        background: u.$primary-400;

        @include u.responsive(medium) {
            width: u.rem(160);
            height: u.rem(160);

            img {
                width: u.rem(95);
            }
        }

        p {
            font-size: u.rem(20);

            @include u.responsive(medium) {
                font-size: u.rem(16);
            }
        }
    }

    &__circle03 {
        width: u.rem(160);
        height: u.rem(160);
        background: u.$primary-300;

        @include u.responsive(medium) {
            width: u.rem(128);
            height: u.rem(128);

            img {
                width: u.rem(56);
            }
        }

        p {
            font-size: u.rem(16);

            @include u.responsive(medium) {
                font-size: u.rem(14);
            }
        }
    }

    &__text {
        text-align: center;
        @include u.aboutBody02();
    }

    &__count {
        @include u.aboutBody03();
        color: u.$primary-600;
    }
}

/* actions section */
.actions {
    @include u.flex(center, center, u.rem(40), column);
    width: 100%;

    &__title {
        @include u.subtitle01();
        text-align: center;
    }

    &__wrap {
        @include u.flex(center, center, u.rem(30), column);
    }

    &__card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: u.rem(100);
        width: 100%;

        &.fade-up-card {
            opacity: 0;
            transform: translateY(u.rem(100));
        }

        @include u.responsive(tablet) {
            gap: u.rem(60);
        }

        @include u.responsive(medium) {
            gap: u.rem(30);
        }

        @include u.responsive(mobile) {
            grid-template-columns: 1fr;
        }
    }

    &__img {
        width: 100%;
        max-width: u.rem(384);
        aspect-ratio: 384/283;
        overflow: hidden;
        border-radius: 30% 6%;

        img {
            @include u.img();
        }

        @include u.responsive(tablet) {
            aspect-ratio: 353/260;
        }

        @include u.responsive(medium) {
            aspect-ratio: 300/220;
        }

        @include u.responsive(mobile) {
            max-width: none;
        }
    }

    &__text-wrap {
        @include u.flex(start, start, u.rem(10), column);
        width: 100%;
        max-width: u.rem(480);
    }

    &__text-title {
        font-family: 'Paperozi';
        font-weight: 500;
        font-size: u.rem(30);

        @include u.responsive(tablet) {
            font-size: u.rem(28);
        }

        @include u.responsive(medium) {
            font-size: u.rem(24);
        }

        @include u.responsive(mobile) {
            font-size: u.rem(22);
        }

        span {
            color: u.$primary-600;
        }
    }

    &__line {
        display: block;
        width: 100%;
        height: 1px;
        background-color: u.$neutral-400;
    }

    &__direct {
        @include u.flex(center, center, u.rem(10));

        &:hover {
            .actions__desc {
                text-decoration: underline;
                text-decoration-color: u.$neutral-700;
                text-decoration-thickness: 1px;
                text-underline-offset: 4px;
            }
        }
    }

    &__check {
        @include u.flex(center, center, u.rem(10));
    }

    &__desc {
        font-size: u.rem(22);
        font-weight: 500;

        @include u.responsive(medium) {
            font-size: u.rem(20);
        }

        @include u.responsive(mobile) {
            font-size: u.rem(16);
        }
    }
}

/* fade-up effect */
.fade-up-section {
    opacity: 0;
    transform: translateY(60px);
}

/* circle-text */
.circle-text {
    position: relative;
    display: inline-block;
    z-index: 1;
}


.circle-svg {
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    width: 120%;
    height: auto;
    pointer-events: none;
    z-index: -1;

    &:nth-of-type(2) {
        bottom: 0;
    }

    path {
        fill: none;
        stroke: u.$primary-500;
        stroke-width: 5;
        stroke-linecap: round;
        stroke-dasharray: 500;
        stroke-dashoffset: 500;
    }
}