@use '../utils' as u;

.action__title {
    @include u.subtitle01;
    padding-top: u.$padding-100;
    text-align: center;
}

.action__notice {
    text-align: center;
    @include u.tumblerBody01($color: u.$neutral-500);
    padding: u.$padding-10;
}

.action-tabs {
    @include u.flex(flex-start, center, u.rem(20));
    padding: u.rem(60) 0 u.rem(40);


    &__btn {
        @include u.btnFlex(center, center);
        @include u.tumblerBody01($weight: 500, $size: u.$font-22, $color: u.$neutral-700);
        padding: u.rem(10) u.rem(30);
        border-radius: u.rem(50);
        border: none;
        background-color: u.$neutral-200;
        color: u.$neutral-700;
        transition: background-color .25s ease, color .25s ease;

        &.is-active {
            background-color: u.$primary-600;
            color: u.$neutral-50;
        }
    }

}

// .action-panel {
//     display: none;
// }

// .action-panel.is-active {
//     display: block;
// }


.tumbler {
    @include u.flex(center, center, u.rem(40), column);
    width: 100%;
    margin-bottom: u.rem(250);


    &__grid {
        width: 100%;
        @include u.flex(flex-start, stretch);
        flex-wrap: wrap;
        gap: u.rem(38) u.rem(20);
    }



    &__card {
        @include u.flex(flex-start, center, u.rem(30));
        width: calc((100% - (u.rem(20) * 2)) / 3);
        box-sizing: border-box;
        border: 1px solid u.$neutral-400;
        border-radius: u.rem(20);
        padding: u.rem(35);
    }

    &__info {
        @include u.flex(flex-start, flex-start, u.rem(8), column);
    }


    &__brand {
        @include u.tumblerBody01($weight: 600, $color: u.$neutral-900, $size: u.$font-24);
    }

    &__benefit {
        @include u.tumblerBody01($weight: 400, $color: u.$neutral-800, $size: u.$font-22);
    }
}


.campaign {
    @include u.flex(center, center, column);
    width: 100%;
    margin-bottom: u.rem(250);


    &__grid {
        width: 100%;
        @include u.flex(flex, center);
        flex-wrap: wrap;
        gap: u.rem(80) u.rem(20);
    }

    &__card {
        width: calc((100% - (u.rem(20) * 3)) / 4);

        @include u.responsive(medium) {
            width: calc((100% - (u.rem(20) * 2)) / 3);
        }

        @include u.responsive(mobile) {
            width: calc((100% - u.rem(20)) / 2);
        }

        @include u.responsive(small) {
            width: 100%;
        }

    }

    &__wrap {
        display: block;
        height: 100%;
        @include u.flex(flex-start, flex-start, u.rem(14), column);
    }


    &__img {
        width: 100%;
        border-radius: u.rem(20);
        overflow: hidden;

        img {
            @include u.img(100%, 100%);
            display: block;
        }
    }

    &__title {
        font-size: u.$font-24;
        font-weight: u.$font-medium;
        color: u.$neutral-900;
        margin-bottom: u.rem(10);
    }

    &__date {
        font-size: u.$font-16;
        font-weight: u.$font-regular;
        color: u.$neutral-500;
    }
}