@use '../utils' as u;

.hero {
    background: url("../img/hero-sec-bg.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.intro {

    &__txt {
        @include u.flex(center, center, 0, column);
    }

    &__title {
        padding-bottom: u.$padding-20;
        @include defineFont($font-)
    }

    &__conts {
        padding-bottom: u.$padding-40;
    }

}