@use '../utils' as u;

// hero section ====================================
.hero {
    width: 100%;
    height: 100vh;
    position: relative;

    // hero 배경 이미지
    &__img-wrap {
        background: url("../img/hero-sec-bg.webp");
        @include u.bgImg();
        position: relative;
        // height: 100vh;
        // width: 100%;
        top: 0;
        left: 0;
        z-index: 1;

        @include u.responsive('tablet') {
            background: url("../img/hero-sec-bg_1024.webp");
            @include u.bgImg();
        }

        @include u.responsive('medium') {
            background: url("../img/hero-sec-bg_768.webp");
            @include u.bgImg();
        }

        @include u.responsive('mobile') {
            background: url("../img/hero-sec-bg_480.webp");
            @include u.bgImg();
        }

        @include u.responsive('small') {
            background: url("../img/hero-sec-bg_360.webp");
            @include u.bgImg();
        }
    }

    // .hero__img01,
    // .hero__img02 {
    //     width: min(80vw, 900px);
    // }

    // hero 'seeking' 텍스트 이미지
    &__img01 {
        position: absolute;
        left: 50%;
        top: 28%;
        transform: translate(-50%, -50%);
        z-index: 0;

        img {
            display: block;
            width: 95%;
        }

        @include u.responsive('tablet') {
            transform: translate(-40%, -50%);

            img {
                width: 85%;
            }
        }

        @include u.responsive('medium') {
            top: 36%;
            width: 55%;
        }

        @include u.responsive('mobile') {
            top: 40%;
            width: 75%;
        }

    }

    // hero 'zeroway' 텍스트 이미지
    &__img02 {
        position: absolute;
        left: 50%;
        top: 80%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 55%;

        img {
            display: block;
            // max-width: 100%;
            width: 100%;
        }

        @include u.responsive('tablet') {
            width: 65%;
            top: 75%;
        }

        @include u.responsive('medium') {
            top: 68%;
        }

        @include u.responsive('mobile') {
            width: 95%;
        }

        // hero 아이 이미지
        &__img-kid {
            background: url("../img/hero-img-kid.webp");
            @include u.bgImg();
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;

            img {
                // width: 100%;
            }

            @include u.responsive('tablet') {
                background: url("../img/hero-img-kid_1024.webp");
                @include u.bgImg();
            }

            @include u.responsive('medium') {
                background: url("../img/hero-img-kid_768.webp");
                @include u.bgImg();
            }

            @include u.responsive('mobile') {
                background: url("../img/hero-img-kid_480.webp");
                @include u.bgImg();
            }

            @include u.responsive('small') {
                background: url("../img/hero-img-kid_360.webp");
                @include u.bgImg();
            }
        }
    }
}

// intro section =================================
.intro {
    padding-top: u.$padding-200;
    padding-bottom: u.$padding-200;

    &__txt {
        @include u.flex(center, center, 0, column);
    }

    &__title {
        padding-bottom: u.$padding-20;
        @include u.title01;
        text-align: center;

        span {
            color: u.$primary-600;
        }
    }

    &__conts {
        padding-bottom: u.$padding-40;
        @include u.mainBody01;
        line-height: 1.5;
        text-align: center;
    }
}

// merit section ================================

.merit {
    position: relative;
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.264) 10%, rgba(20, 20, 20, 0.547) 25%, rgba(20, 20, 20, 0.613) 50%, rgba(20, 20, 20, 0.75) 75%, rgb(20, 20, 20) 100%), url("../img/merit-sec-bg.webp");
    @include u.bgImg();
    padding-bottom: u.$padding-200;
    width: 100%;

    &__title {
        @include u.title01;
        text-align: center;
        color: u.$neutral-50;
        padding-top: u.$padding-100;
        padding-bottom: u.$padding-60;
    }

    // merit 선 svg 공통 스타일
    .line-svg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: auto;
        pointer-events: none;
        z-index: 1;
        display: none;

        @include u.responsive('tablet') {
            transform: translateX(-90%);
        }

        @include u.responsive('medium') {
            transform: translateX(-80%);
        }
    }

    // merit 선 데스크탑 (기본값)
    #line-svg-desktop {
        max-width: u.rem(1200);
        display: block;
    }

    #line-path {
        stroke-linecap: round;
    }

    // merit 선 화면사이즈에 따라 없어지고 생기게 하기
    @include u.responsive('tablet') {
        #line-svg-desktop {
            display: none;
        }

        #line-svg-tablet {
            max-width: u.rem(310);
            display: block;
        }
    }

    @include u.responsive('mobile') {
        #line-svg-tablet {
            display: none;
        }

        #line-svg-mobile {
            max-width: u.rem(190);
            display: block;
        }
    }

    // merit 말풍선 이미지
    &__img {
        position: relative;
        height: u.rem(3100);
        z-index: 2;

        @media (max-width:1200px) {
            height: u.rem(3080);
        }

        @media (max-width:1170px) {
            height: u.rem(3000);
        }

        @media (max-width:1145px) {
            height: u.rem(2930);
        }

        @media (max-width:1120px) {
            height: u.rem(2850);
        }

        @media (max-width:1090px) {
            height: u.rem(2770);
        }

        @media (max-width:1060px) {
            height: u.rem(2680);
        }

        @include u.responsive('tablet') {
            height: u.rem(2650);
        }

        @include u.responsive('mobile') {
            height: u.rem(2150);
        }
    }

    &__img01 {
        position: absolute;
        top: u.rem(170);
        left: u.rem(274);
        // width: u.rem(282);

        img {
            width: clamp(200px, 50vw, 280px);
        }

        @media(max-width:1200px) {
            top: u.rem(120);
            left: u.rem(220);
        }

        @media(max-width:1100px) {
            top: u.rem(60);
            left: u.rem(180);
        }


        @include u.responsive('tablet') {
            left: u.rem(250);
            top: u.rem(170);
        }


        @include u.responsive('medium') {
            left: u.rem(170);
            top: u.rem(180);
        }

        @media (max-width:665px) {
            left: u.rem(110);
        }

        @include u.responsive('mobile') {
            left: u.rem(100);
            top: u.rem(5);
        }
    }

    &__img02 {
        position: absolute;
        top: u.rem(620);
        right: u.rem(102);

        img {
            width: clamp(200px, 50vw, 330px);
        }

        @media(max-width:1200px) {
            top: u.rem(570);
            right: u.rem(120);
        }

        @media(max-width:1100px) {
            top: u.rem(450);
            right: u.rem(160);
        }

        @include u.responsive('tablet') {
            left: u.rem(380);
            top: u.rem(650);
        }


        @include u.responsive('medium') {
            left: u.rem(310);
            top: u.rem(670);
        }

        @media (max-width:665px) {
            left: u.rem(210);
            top: u.rem(680);
        }

        @include u.responsive('mobile') {
            left: u.rem(120);
            top: u.rem(430);
        }
    }

    &__img03 {
        position: absolute;
        top: u.rem(1160);
        right: u.rem(204);
        // width: u.rem(294);

        img {
            width: clamp(200px, 50vw, 290px);
        }

        @media(max-width:1200px) {
            top: u.rem(1100);
            right: u.rem(220);
        }

        @media(max-width:1100px) {
            top: u.rem(990);
            right: u.rem(260);
        }

        @include u.responsive('tablet') {
            left: u.rem(260);
            top: u.rem(1090);
        }

        @include u.responsive('medium') {
            left: u.rem(180);
            top: u.rem(1110);
        }

        @media(max-width:665px) {
            left: u.rem(90);
        }

        @include u.responsive('mobile') {
            left: u.rem(70);
            top: u.rem(830);
        }
    }

    &__img04 {
        position: absolute;
        top: u.rem(1760);
        left: u.rem(288);
        // width: u.rem(273);

        img {
            width: clamp(200px, 50vw, 270px);
        }

        @media(max-width:1200px) {
            top: u.rem(1700);
            left: u.rem(320);
        }

        @media (max-width:1100px) {
            top: u.rem(1610);
            left: u.rem(350);
        }

        @include u.responsive('tablet') {
            left: u.rem(350);
            top: u.rem(1600);
        }

        @include u.responsive('medium') {
            left: u.rem(270);
            top: u.rem(1610);
        }

        @media(max-width:665px) {
            left: u.rem(170);
            top: u.rem(1620);
        }

        @include u.responsive('mobile') {
            left: u.rem(120);
            top: u.rem(1230);
        }
    }

    &__img05 {
        position: absolute;
        top: u.rem(2500);
        left: u.rem(223);
        // width: u.rem(304);

        img {
            width: clamp(200px, 50vw, 300px);
        }

        @media (max-width:1200px) {
            top: u.rem(2400);
            left: u.rem(280);
        }

        @media (max-width:1100px) {
            top: u.rem(2250);
            left: u.rem(280);
        }

        @include u.responsive('tablet') {
            left: u.rem(280);
            top: u.rem(2060);
        }

        @include u.responsive('medium') {
            left: u.rem(200);
            top: u.rem(2070);
        }

        @media(max-width:665px) {
            left: u.rem(110);
            top: u.rem(2080);
        }

        @include u.responsive('mobile') {
            left: u.rem(80);
            top: u.rem(1660);
        }
    }


    // CSS 애니메이션 정의
    @keyframes pin-drop {
        0% {
            opacity: 0;
            transform: translateY(-300px);
        }

        60% {
            opacity: 1;
            transform: translateY(30px);
        }

        80% {
            transform: translateY(-10px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    // 초기 상태(숨김)
    .merit__img01,
    .merit__img02,
    .merit__img03,
    .merit__img04,
    .merit__img05 {
        opacity: 0;
    }

    // 등장 시 애니메이션 적용
    .merit__img01.is-visible {
        animation: pin-drop 0.6s ease-out 0s forwards;
    }

    .merit__img02.is-visible {
        animation: pin-drop 0.6s ease-out 0.2s forwards;
    }

    .merit__img03.is-visible {
        animation: pin-drop 0.6s ease-out 0.4s forwards;
    }

    .merit__img04.is-visible {
        animation: pin-drop 0.6s ease-out 0.6s forwards;
    }

    .merit__img05.is-visible {
        animation: pin-drop 0.6s ease-out 0.8s forwards;
    }


    &__subtitle {
        @include u.subtitle03;
        color: u.$neutral-900;
        background-color: u.$primary-500;
        padding: u.rem(20) u.rem(50);
        border-radius: u.rem(100);
        display: block;
        width: fit-content;
        margin: 0 auto;
        z-index: 1;
        position: relative
    }

    &__list01 {
        @include u.flex(center, center, 10%);
        text-align: center;
        padding: u.$padding-80 0 u.$padding-200;

        li {
            @include u.flex(center, center, u.$padding-30, column);
        }

        h3 {
            @include u.mainBody02;
            color: u.$neutral-50;
        }

        p {
            @include u.mainBody03;
            color: u.$neutral-400;
            line-height: 1.3;
        }

        @include u.responsive('tablet') {
            img {
                width: u.rem(60);
            }
        }

        @include u.responsive('mobile') {
            flex-direction: column;
            gap: u.$padding-30;

            img {
                width: u.rem(50);
            }
        }
    }

    &__list02-wrap {
        h3 {
            @include u.subtitle01;
            text-align: center;
            color: u.$neutral-50;
            padding-bottom: u.$padding-40;
            margin: 0 auto;
        }
    }

    &__underline {
        position: absolute;
        left: 0;
        // bottom: u.rem(-10);
        top: u.rem(20);
        width: 100%;
        height: u.rem(18);
        // overflow: visible;
        // pointer-events: none;

        path {
            stroke-dasharray: 200;
            stroke-dashoffset: 200;
            transition: stroke-dashoffset 0.8s ease;
        }
    }

    &__group {
        @include u.flex(center, center, u.$padding-40);

        @include u.responsive('mobile') {
            gap: u.$padding-20;
        }
    }


    &__list02 {
        @include u.flex(space-around, flex-start, u.$padding-60, column);

        span {
            position: relative;
            display: inline-block;
        }

        span.isActive .merit__underline path {
            stroke-dashoffset: 0;
        }


        li {
            @include u.flex(center, center, u.$padding-60);


            &:first-child {
                img {
                    padding-left: u.$padding-30;
                    padding-right: u.$padding-20;

                    @include u.responsive('tablet') {
                        height: u.rem(100);
                    }

                    @include u.responsive('mobile') {
                        padding-left: u.$padding-10;
                        padding-right: u.$padding-10;
                        height: u.rem(73);
                    }

                    @include u.responsive('small') {
                        height: u.rem(56);
                    }
                }
            }

            &:nth-child(2) {
                img {
                    @include u.responsive('medium') {
                        height: u.rem(157);
                    }

                    @include u.responsive('mobile') {
                        height: u.rem(120);
                    }

                    @include u.responsive('small') {
                        height: u.rem(94);
                    }
                }
            }

            &:nth-child(3) {
                img {
                    @include u.responsive('tablet') {
                        height: u.rem(110);
                    }

                    @include u.responsive('mobile') {
                        height: u.rem(80);
                    }

                    @include u.responsive('small') {
                        height: u.rem(65);
                    }
                }
            }

            .line01 {
                @include u.mainBody04;
                color: u.$neutral-50;
                line-height: 1.3;
                width: 100%
            }

            .line02 {
                @include u.mainBody05;
                color: u.$neutral-50;
                line-height: 1.3;
            }

            @include u.responsive('mobile') {
                gap: u.$padding-20;
            }
        }

        @include u.responsive('mobile') {
            gap: u.$padding-30;
        }

        @include u.responsive('small') {
            gap: u.$padding-20;
        }
    }


    &__txt {
        text-align: center;
        padding-top: u.$padding-200;
        margin: 0 auto;

        h3 {
            padding-bottom: u.$padding-40;
            @include u.subtitle01;
            color: u.$primary-500;
        }
    }

    &__text-wrap {
        position: relative;
        display: inline-block;
        padding-bottom: u.rem(6); // 텍스트와 선 사이 여백
    }

    &__underline {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: u.rem(18);
        pointer-events: none;

        @include u.responsive('mobile') {
            top: u.rem(12);
        }
    }

    &__underline-path {
        stroke: u.$primary-500;
        stroke-width: u.rem(4);
        stroke-linecap: round;
        stroke-linejoin: round;
    }
}


// zeromap section 
.zeromap {
    background-image: url(../img/zeromap-bg.webp);
    @include u.bgImg();

    &__wrap {
        padding: u.$padding-200 0;
        text-align: center;
    }

    &__title {
        @include u.title01;
        padding-bottom: u.$padding-20;
        line-height: 1.2;

        span {
            position: relative;
            display: inline-block;

            svg {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: auto;
                pointer-events: none;
                z-index: -1;
            }
        }
    }

    &__desc {
        @include u.mainBody01;
        line-height: 1.3;
        padding-bottom: u.$padding-40;
    }
}