@use '../utils' as u;

// hero section 
.hero {
    width: 100%;
    height: 100vh;

    &__img-wrap {
        width: 100%;
        height: 100%;
        background: url("/assets/img/hero-bg.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }

    &__img01 {
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

    &__img-kid {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        color: u.$primary-500;
        z-index: 0;
    }

    &__img02 {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
    }

}

// intro section
.intro {
    padding-top: u.$padding-200;
    padding-bottom: u.$padding-200;

    &__txt {
        @include u.flex(center, center, 0, column);
    }

    &__title {
        padding-bottom: u.$padding-20;
        @include u.title01;

        span {
            color: u.$primary-600;
        }
    }

    &__conts {
        padding-bottom: u.$padding-40;
        @include u.mainBody01;
        line-height: 1.5;
        text-align: center;
    }
}

// effect section 

.effect {
    position: relative;
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.264) 10%, rgba(20, 20, 20, 0.547) 25%, rgba(20, 20, 20, 0.613) 50%, rgba(20, 20, 20, 0.75) 75%, rgb(20, 20, 20) 100%), url("/assets/img/effect-sec-bg.jpeg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // padding-top: 200px;
    padding-bottom: u.$padding-200;

    &__title {
        @include u.title01;
        text-align: center;
        color: u.$neutral-50;
        padding-top: u.$padding-100;
        padding-bottom: u.$padding-60;
    }

    #line-svg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: u.rem(1200);
        height: auto;
        pointer-events: none;
        z-index: 1;
    }

    #line-path {
        stroke-linecap: round;
    }

    &__img {
        position: relative;
        height: u.rem(3100);
        z-index: 2;
    }

    &__img01 {
        position: absolute;
        top: u.rem(160);
        left: u.rem(274);
        width: u.rem(282);
    }

    &__img02 {
        position: absolute;
        top: u.rem(600);
        right: u.rem(102);
        width: u.rem(336);
    }

    &__img03 {
        position: absolute;
        top: u.rem(1130);
        right: u.rem(204);
        width: u.rem(294);
    }

    &__img04 {
        position: absolute;
        top: u.rem(1720);
        left: u.rem(288);
        width: u.rem(273);
    }

    &__img05 {
        position: absolute;
        top: u.rem(2440);
        left: u.rem(223);
        width: u.rem(304);
    }

    &__subtitle {
        @include u.subtitle02;
        color: u.$neutral-900;
        background-color: u.$primary-500;
        padding: u.rem(20) u.rem(50);
        border-radius: u.rem(100);
        display: block;
        width: fit-content;
        margin: 0 auto;
        z-index: 5;

    }

    &__list {
        @include u.flex(center, center, u.$padding-60);
        text-align: center;
        padding-top: u.$padding-80;
        padding-bottom: u.$padding-200;

        li {
            @include u.flex(center, center, u.$padding-30, column);
        }

        h3 {
            @include u.mainBody02;
            color: u.$neutral-50;
        }

        p {
            @include u.mainBody03;
            color: u.$neutral-400;
            line-height: 1.3;
        }
    }

    &__merit-wrap {
        h3 {
            @include u.subtitle01;
            text-align: center;
            color: u.$neutral-50;
            padding-bottom: u.$padding-40;
            margin: 0 auto;
        }
    }

    &__merit {
        @include u.flex(center, center, u.$padding-40);

        /* SVG 기본 상태 */
        svg {
            overflow: visible;
            display: block;
        }

        /* JS에서 strokeDasharray/offset을 덮어씌우지만 초기값을 지정해둠 */
        svg path {
            stroke: #12F96B;
            stroke-width: 8;
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            transition: none;
        }

        svg circle {
            transform-origin: center;
            transform-box: fill-box;
            opacity: 0.3;
            transform: scale(0.7);
        }
    }


    &__merit-list {
        @include u.flex(space-around, center, u.$padding-60, column);

        li {
            @include u.flex(center, center, u.$padding-20);
        }

        .line01 {
            @include u.mainBody04;
            color: u.$neutral-50;
            line-height: 1.3;
        }

        .line02 {
            @include u.mainBody05;
            color: u.$neutral-50;
            line-height: 1.3;
        }
    }

    &__txt {
        text-align: center;
        padding: u.$padding-200 0;

        h3 {
            padding-bottom: u.$padding-40;
            @include u.subtitle01;
            color: u.$primary-500;
        }
    }

    .underline-svg {
        position: relative;
    }

    .underline-path {
        position: absolute;
    }
}


// zeromap section 
.zeromap {
    &__wrap {
        padding: u.$padding-200 0;
        text-align: center;
        background-image: url("/assets/img/zeromap-bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__title {
        @include u.title01;
        padding-bottom: u.$padding-20;
        line-height: 1.2;
    }

    &__desc {
        @include u.mainBody01;
        line-height: 1.3;
        padding-bottom: u.$padding-40;
    }
}