@use '../utils' as u;

.map {
    width: 100%;
    height: 100%;
    // ==========================
    overflow-x: auto;
    overflow-y: hidden;
    // ============================

    &__conts-wrap {
        padding: u.$padding-100 0 u.$padding-160;
        background-color: u.$neutral-50;
        // @include u.borderTopRadius();
        width: 100%;
        height: 100%;
        z-index: 1;
        position: relative;
        // margin-top: u.rem(-200);

        @include u.responsive('tablet') {
            margin-top: 0;
        }
    }

    &__img-wrap {
        width: u.rem(1880);
        // height: 100%;
        // width: fit-content;
        // height: fit-content;
        position: relative;
        // ======================
        overflow-x: auto;
        overflow-y: hidden;
        // ======================


        @include u.responsive('tablet') {
            width: u.rem(2000);
            overflow-x: auto;
            overflow-y: hidden;
        }

        .pin-img {
            // ======================
            position: absolute;
            width: u.rem(1800);
            // ======================
            top: 0;
            left: 0;
            width: 100%;
            // height: 100%;
            z-index: 10;
        }

        .pin1 {
            position: absolute;
            top: u.rem(250);
            right: u.rem(580);

            @include u.responsive('tablet') {
                top: u.rem(170);
                right: u.rem(250);
            }
        }


        .pin2 {
            position: absolute;
            top: u.rem(410);
            right: u.rem(150);

            @include u.responsive('tablet') {
                top: u.rem(280);
                right: u.rem(0);
            }
        }

        .pin3 {
            position: absolute;
            top: u.rem(850);
            right: u.rem(220);
        }

        .pin4 {
            position: absolute;
            top: u.rem(910);
            right: u.rem(350);
        }

        .pin5 {
            position: absolute;
            top: u.rem(950);
            right: u.rem(720);
        }

        .pin6 {
            position: absolute;
            top: u.rem(1070);
            right: u.rem(550);
        }

        .pin7 {
            position: absolute;
            top: u.rem(1100);
            right: u.rem(630);
        }

        .pin8 {
            position: absolute;
            top: u.rem(1270);
            right: u.rem(650);
        }

        .pin9 {
            position: absolute;
            top: u.rem(1360);
            right: u.rem(700);
        }

        .pin10 {
            position: absolute;
            top: u.rem(1400);
            right: u.rem(550);
        }
    }

    &__img {
        img {
            height: 100%;
            // width: 100%;
            @include u.img();
            height: auto;
            width: auto;
            // width: fit-content;
            // height: fit-content;
            max-width: none;
            object-fit: none;

            @include u.responsive('tablet') {}
        }
    }

    .pin-bubble {
        position: relative;
        background: u.$neutral-900;
        color: u.$neutral-50;
        border-radius: u.rem(20);
        // width: u.rem(250);
        // height: u.rem(130);
        padding: u.rem(20) u.rem(30);
        opacity: 0;
        transform: translateY(-6px);
        transition: opacity 0.2s ease, transform 0.2s ease;
        visibility: hidden;
        transform: translateY(-10px);
        transition: all 0.3s ease;
        z-index: 20;

        .pin-img img {
            cursor: pointer;
            transition: transform 0.2s ease;
        }

        .pin-img img.is-selected {
            transform: scale(1.2);
        }


        &.active {
            display: block;
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

        .bubble-title {
            @include u.flex(space-between, center, u.rem(8));
            margin-bottom: u.rem(8);

            p:first-child {
                font-size: u.rem(18);
                font-weight: 700;
            }

            p:nth-child(2) {
                font-size: u.rem(14);
                font-weight: 300;
                line-height: 1.5;
            }
        }

        .bubble-desc {
            font-size: u.rem(14);
            padding-left: u.rem(18);
        }

        a {
            float: right;
            color: u.$primary-600;
            font-size: u.rem(12);
            margin-top: u.rem(12);
        }

        &.is-active {
            display: block;
            opacity: 1;
            transform: translateY(0);
        }
    }

    .pin-img img {
        cursor: pointer;
    }

    .pin-bubble:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 29px solid transparent;
        border-top-color: u.$neutral-900;
        border-bottom: 0;
        margin-left: -29px;
        margin-bottom: -29px;
    }

    .bubble1 {
        position: absolute;
        top: u.rem(90);
        right: u.rem(470);
    }

    .bubble2 {
        position: absolute;
        top: u.rem(250);
        right: u.rem(15);
    }

    .bubble3 {
        position: absolute;
        top: u.rem(690);
        right: u.rem(120);
    }

    .bubble4 {
        position: absolute;
        top: u.rem(750);
        right: u.rem(235);
    }

    .bubble5 {
        position: absolute;
        top: u.rem(790);
        right: u.rem(620);
    }

    .bubble6 {
        position: absolute;
        top: u.rem(910);
        right: u.rem(410);
    }

    .bubble7 {
        position: absolute;
        top: u.rem(940);
        right: u.rem(500);
    }

    .bubble8 {
        position: absolute;
        top: u.rem(1110);
        right: u.rem(535);
    }

    .bubble9 {
        position: absolute;
        top: u.rem(1200);
        right: u.rem(595);
    }

    .bubble10 {
        position: absolute;
        top: u.rem(1240);
        right: u.rem(440);
    }


    /* =Map Pin Animation
// ========================================================================== */

    @-webkit-keyframes pulsate {
        0% {
            -webkit-transform: scale(0.2);
            transform: scale(0.2);
            opacity: 1;
        }

        100% {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
            opacity: 0;
        }
    }

    @-moz-keyframes pulsate {
        0% {
            -webkit-transform: scale(0.2);
            transform: scale(0.2);
            opacity: 1;
        }

        100% {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
            opacity: 0;
        }
    }

    @keyframes pulsate {
        0% {
            -webkit-transform: scale(0.2);
            transform: scale(0.2);
            opacity: 1;
        }

        100% {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
            opacity: 0;
        }
    }

    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    @-webkit-keyframes bounceInDown {
        0% {
            opacity: 0;
            -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
        }

        60% {
            opacity: 1;
            -webkit-transform: translateY(30px);
            transform: translateY(30px);
        }

        80% {
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }

    @keyframes bounceInDown {
        0% {
            opacity: 0;
            -webkit-transform: translateY(-2000px);
            -ms-transform: translateY(-2000px);
            transform: translateY(-2000px);
        }

        60% {
            opacity: 1;
            -webkit-transform: translateY(30px);
            -ms-transform: translateY(30px);
            transform: translateY(30px);
        }

        80% {
            -webkit-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            transform: translateY(-10px);
        }

        100% {
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
        }
    }

    .bounceInDown {
        -webkit-animation-name: bounceInDown;
        animation-name: bounceInDown;
    }


    .double-arrow-img {
        @include u.flex(space-between, center);
        position: relative;

        img {
            top: 500px;
            position: absolute;
            display: block;
            margin-bottom: u.rem(10);
            width: u.rem(40);
            height: auto;
        }

        .arrow2 {
            transform: rotate(180deg);
        }

        @include u.responsive('tablet') {
            display: none;
        }
    }

    &__text-wrap {
        padding-bottom: u.$padding-60;
    }


    &__notice {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
        // margin-top: u.rem(-200);
        display: none;

        @include u.responsive('pc') {
            display: block;
        }
    }


    &__title-wrap {
        margin-bottom: u.$padding-30;
        margin-top: u.$padding-100;
    }

    &__title {
        @include u.subtitle02;
    }

    &__desc {
        @include u.mapBody01;
        // color: u.$neutral-800;

        span {
            color: u.$primary-600;
        }

        button {
            background-color: transparent;
            border: none;
            ;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: u.rem(20);

        @include u.responsive('tablet') {
            grid-template-columns: repeat(2, 1fr);
        }

        @include u.responsive('mobile') {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__grid-title {
        @include u.mapBody01;
        color: u.$neutral-900;

        &:hover {
            text-decoration: underline;
        }
    }

    &__grid-hashtag {
        @include u.mapBody02;
        color: u.$primary-600;
        line-height: 1.8;
    }


    &__grid-list {
        @include u.mapBody03;
        padding-left: 20px;
        list-style-position: inside;

        li {
            list-style: disc;
            // list-style-position: inside;
            // padding-left: 0
        }
    }

    &__grid-item {
        background-color: u.$neutral-50;
        // border: 1px solid #999;
        padding: u.rem(10);
        line-height: 1.5;
        word-break: keep-all
    }

    &__report-cta {
        padding: u.$padding-80 0;
        text-align: center;
        background-color: u.$neutral-300;
    }

    &__report-text {
        line-height: 1.5;
    }

    &__report-title {
        @include u.mapBody04;
    }

    &__report-desc {
        @include u.mapBody03;
        margin-bottom: u.$padding-20;
    }

}