@use '../utils' as u;

.map {
    width: 100%;
    height: 100%;
    // overflow: hidden;


    &__img-wrap {
        // width: u.rem(1900);
        width: 100%;
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
        height: 100%;
    }

    &__canvas {
        width: 1900px;
        position: relative; // ⭐ 기준점
        height: 100%;
        line-height: 0;
        // overflow: hidden;

        @include u.responsive('tablet') {
            width: u.rem(1500)
        }

        @include u.responsive('mobile') {
            width: u.rem(800)
        }
    }

    .pin-img {
        // ======================
        position: absolute;
        width: u.rem(1900);
        // ======================
        top: 0;
        left: 0;
        // width: 100%;
        height: 100%;
        z-index: 10;

        @include u.responsive('tablet') {
            width: u.rem(1500);
        }

        @include u.responsive('mobile') {
            width: u.rem(800);
        }
    }

    .pin1 {
        position: absolute;
        top: u.rem(250);
        right: u.rem(580);

        @include u.responsive('tablet') {
            top: u.rem(200);
            right: u.rem(570);
            width: u.rem(50);
        }

        @include u.responsive('mobile') {
            top: u.rem(160);
            right: u.rem(-20);
        }
    }


    .pin2 {
        position: absolute;
        top: u.rem(410);
        right: u.rem(150);

        @include u.responsive('tablet') {
            width: u.rem(50);
            top: u.rem(310);
            right: u.rem(260);
        }

        @include u.responsive('mobile') {
            top: u.rem(250);
            right: u.rem(-300);
        }
    }

    .pin3 {
        position: absolute;
        top: u.rem(850);
        right: u.rem(220);

        @include u.responsive('tablet') {
            width: u.rem(50);
            top: u.rem(610);
            right: u.rem(320);
        }

        @include u.responsive('mobile') {
            top: u.rem(520);
            right: u.rem(-250);
        }
    }

    .pin4 {
        position: absolute;
        top: u.rem(910);
        right: u.rem(350);

        @include u.responsive('tablet') {
            width: u.rem(50);
            top: u.rem(650);
            right: u.rem(400);
        }

        @include u.responsive('mobile') {
            top: u.rem(560);
            right: u.rem(-170);
        }
    }

    .pin5 {
        position: absolute;
        top: u.rem(930);
        right: u.rem(740);

        @include u.responsive('tablet') {
            width: u.rem(50);
            top: u.rem(660);
            right: u.rem(680);
        }

        @include u.responsive('mobile') {
            top: u.rem(570);
            right: u.rem(80);
        }
    }

    .pin6 {
        position: absolute;
        top: u.rem(1050);
        right: u.rem(570);

        @include u.responsive('tablet') {

            width: u.rem(50);
            top: u.rem(750);
            right: u.rem(550);
        }

        @include u.responsive('mobile') {
            top: u.rem(650);
            right: u.rem(-30);
        }
    }

    .pin7 {
        position: absolute;
        top: u.rem(1110);
        right: u.rem(650);

        @include u.responsive('tablet') {
            width: u.rem(50);
            top: u.rem(770);
            right: u.rem(620);
        }

        @include u.responsive('mobile') {
            top: u.rem(670);
            right: u.rem(20);
        }
    }

    .pin8 {
        position: absolute;
        top: u.rem(1240);
        right: u.rem(650);

        @include u.responsive('tablet') {
            width: u.rem(50);
            top: u.rem(880);
            right: u.rem(620);
        }

        @include u.responsive('mobile') {
            top: u.rem(770);
            right: u.rem(20);
        }
    }

    .pin9 {
        position: absolute;
        top: u.rem(1350);
        right: u.rem(710);

        @include u.responsive('tablet') {
            width: u.rem(50);
            top: u.rem(940);
            right: u.rem(670);
        }

        @include u.responsive('mobile') {
            top: u.rem(820);
            right: u.rem(70);
        }
    }

    .pin10 {
        position: absolute;
        top: u.rem(1400);
        right: u.rem(550);

        @include u.responsive('tablet') {
            width: u.rem(50);
            top: u.rem(970);
            right: u.rem(550);
        }

        @include u.responsive('mobile') {
            top: u.rem(850);
            right: u.rem(-30);

        }
    }


    &__img {
        img {
            height: 100%;
            // width: 100%;
            @include u.img();
            height: auto;
            width: auto;
            display: block;
            // width: fit-content;
            // height: fit-content;
            // max-width: none;
            // object-fit: none;

        }
    }

    .pin-bubble {
        // position: relative;
        position: absolute;
        background: u.$neutral-900;
        color: u.$neutral-50;
        border-radius: u.rem(20);
        // width: u.rem(250);
        // height: u.rem(130);
        // height: fit-content;
        padding: u.rem(20) u.rem(30);
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: all 0.3s ease;
        z-index: 20;

        // .pin-bubble .bubble-title p,
        // .pin-bubble .bubble-desc {
        //     margin: 0;
        //     line-height: 1.5;
        //     word-break: keep-all;
        // }


        .pin-img img {
            cursor: pointer;
            transition: transform 0.2s ease;
        }

        .pin-img img.is-selected {
            transform: scale(1.2);
        }

        &.active {
            display: block;
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

        .bubble-title {
            @include u.flex(space-between, center, u.rem(8));
            margin-bottom: u.rem(8);

            p:first-child {
                font-size: u.rem(18);
                font-weight: 700;
            }

            p:nth-child(2) {
                font-size: u.rem(14);
                font-weight: 300;
                line-height: 1.5;
            }

            @include u.responsive('mobile') {
                flex-direction: column;
                align-items: flex-start;
                gap: u.rem(4);
            }
        }

        .bubble-desc {
            font-size: u.rem(14);
            padding-left: u.rem(18);

            @include u.responsive('mobile') {
                display: none;
            }
        }

        a {
            // align-self: flex-end;
            float: right;
            color: u.$primary-600;
            font-size: u.rem(12);
            margin-top: u.rem(12);
        }

        &.is-active {
            display: block;
            opacity: 1;
            transform: translateY(0);
        }
    }

    .pin-img img {
        cursor: pointer;
    }

    .pin-bubble:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: u.rem(5);
        // border: 29px solid transparent;
        border-left: u.rem(10) solid transparent;
        border-right: u.rem(10) solid transparent;
        border-top: u.rem(30) solid u.$neutral-900;
        border-top-color: u.$neutral-900;
        border-bottom: 0;
        margin-left: u.rem(-10);
        margin-bottom: u.rem(-29);
    }

    .bubble1 {
        position: absolute;
        top: u.rem(90);
        right: u.rem(480);

        @include u.responsive('tablet') {
            top: u.rem(40);
            right: u.rem(460);
        }

        @include u.responsive('mobile') {
            top: u.rem(10);
            right: u.rem(-80);
        }
    }

    .bubble2 {
        position: absolute;
        top: u.rem(230);
        right: u.rem(40);

        @include u.responsive('tablet') {
            top: u.rem(130);
            right: u.rem(140);
        }

        @include u.responsive('mobile') {
            top: u.rem(100);
            right: u.rem(-380);
        }
    }

    .bubble3 {
        position: absolute;
        top: u.rem(670);
        right: u.rem(130);

        @include u.responsive('tablet') {
            top: u.rem(430);
            right: u.rem(220);
        }

        @include u.responsive('mobile') {
            top: u.rem(350);
            right: u.rem(-295);
        }
    }

    .bubble4 {
        position: absolute;
        top: u.rem(750);
        right: u.rem(260);

        @include u.responsive('tablet') {
            top: u.rem(490);
            right: u.rem(295);
        }

        @include u.responsive('mobile') {
            top: u.rem(410);
            right: u.rem(-230);
        }
    }

    .bubble5 {
        position: absolute;
        top: u.rem(770);
        right: u.rem(655);

        @include u.responsive('tablet') {
            top: u.rem(500);
            right: u.rem(580);
        }

        @include u.responsive('mobile') {
            top: u.rem(420);
            right: u.rem(30);
        }
    }

    .bubble6 {
        position: absolute;
        top: u.rem(850);
        right: u.rem(445);

        @include u.responsive('tablet') {
            top: u.rem(550);
            right: u.rem(415);
        }

        @include u.responsive('mobile') {
            top: u.rem(480);
            right: u.rem(-120);
        }
    }

    .bubble7 {
        position: absolute;
        top: u.rem(910);
        right: u.rem(530);

        @include u.responsive('tablet') {
            top: u.rem(570);
            right: u.rem(485);
        }

        @include u.responsive('mobile') {
            top: u.rem(520);
            right: u.rem(-60);
        }
    }

    .bubble8 {
        position: absolute;
        top: u.rem(1040);
        right: u.rem(550);

        @include u.responsive('tablet') {
            top: u.rem(680);
            right: u.rem(510);
        }

        @include u.responsive('mobile') {
            top: u.rem(600);
            right: u.rem(-45);
        }
    }

    .bubble9 {
        position: absolute;
        top: u.rem(1150);
        right: u.rem(580);

        @include u.responsive('tablet') {
            top: u.rem(740);
            right: u.rem(530);
        }

        @include u.responsive('mobile') {
            top: u.rem(650);
            right: u.rem(15);
        }
    }

    .bubble10 {
        position: absolute;
        top: u.rem(1180);
        right: u.rem(430);

        @include u.responsive('tablet') {
            top: u.rem(750);
            right: u.rem(420);
        }

        @include u.responsive('mobile') {
            top: u.rem(680);
            right: u.rem(-85);
        }
    }


    /* =Map Pin Animation
// ========================================================================== */

    @-webkit-keyframes pulsate {
        0% {
            -webkit-transform: scale(0.2);
            transform: scale(0.2);
            opacity: 1;
        }

        100% {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
            opacity: 0;
        }
    }

    @-moz-keyframes pulsate {
        0% {
            -webkit-transform: scale(0.2);
            transform: scale(0.2);
            opacity: 1;
        }

        100% {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
            opacity: 0;
        }
    }

    @keyframes pulsate {
        0% {
            -webkit-transform: scale(0.2);
            transform: scale(0.2);
            opacity: 1;
        }

        100% {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
            opacity: 0;
        }
    }

    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    @-webkit-keyframes bounceInDown {
        0% {
            opacity: 0;
            -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
        }

        60% {
            opacity: 1;
            -webkit-transform: translateY(30px);
            transform: translateY(30px);
        }

        80% {
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }

    @keyframes bounceInDown {
        0% {
            opacity: 0;
            -webkit-transform: translateY(-2000px);
            -ms-transform: translateY(-2000px);
            transform: translateY(-2000px);
        }

        60% {
            opacity: 1;
            -webkit-transform: translateY(30px);
            -ms-transform: translateY(30px);
            transform: translateY(30px);
        }

        80% {
            -webkit-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            transform: translateY(-10px);
        }

        100% {
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
        }
    }

    .bounceInDown {
        -webkit-animation-name: bounceInDown;
        animation-name: bounceInDown;
    }

    .double-arrow-img {
        @include u.flex(space-between, center);
        position: absolute;
        // left: 50%;
        top: 50%;
        transform: translatex(-50%);
        width: fit-content;

        img {
            position: sticky; // bottom: u.rem(140);
            // top: 500px;
            // top: 70%;
            left: 0;
            right: 0;

            // margin-bottom: u.rem(10);
            width: u.rem(50);
            // height: auto;
            z-index: 10;
            display: block;

            @include u.responsive('tablet') {
                display: block;
            }
        }

        .arrow2 {
            transform: rotate(180deg);
        }
    }

    &__conts-wrap {
        padding-top: u.$padding-100 ;
        background-color: u.$neutral-50;
        width: 100%;
        height: 100%;
        z-index: 1;
        position: relative;
        overflow: hidden;


        @include u.responsive('tablet') {
            margin-top: 0;
        }

        @include u.responsive('medium') {
            padding-top: u.$padding-60;
        }

        @include u.responsive('mobile') {
            // padding-top: u.$padding-60;
            height: auto;
        }
    }


    &__text-wrap {
        padding-bottom: u.$padding-100;

        .slide-down {
            .fade {
                display: none;
            }

            .map__more-btn {
                bottom: u.rem(200); // 👈 버튼 위 여백 효과
            }
        }


        @include u.responsive('pc') {
            padding-left: u.rem(140);
            padding-right: u.rem(140);
        }

        @include u.responsive('tablet') {
            padding-left: u.rem(32);
            padding-right: u.rem(32);
        }

        @include u.responsive('medium') {
            padding-left: 0 u.rem(20);
            padding-right: 0 u.rem(20);
        }

        @include u.responsive('mobile') {
            padding-left: 0;
            padding-right: 0;
            // ===============================
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            height: 750px;
            overflow: hidden;
            position: relative;
            // margin: 0;
            // background: -webkit-linear-gradient(top,
            //         rgba(255, 255, 255, 0) 0%,
            //         rgba(255, 255, 255, 1) 60%);
            // background: linear-gradient(to bottom,
            //         rgba(255, 255, 255, 0) 0%,
            //         rgba(255, 255, 255, 1) 60%);
            // ===============================
        }
    }


    &__notice {
        position: sticky;
        left: 50%;
        transform: translateX(-50%);
        bottom: u.rem(120);
        z-index: 30;
        display: none;
        width: fit-content;

        @include u.responsive('pc') {
            display: block;
        }

        &:hover {
            background-color: u.$neutral-50;
            color: u.$neutral-900;
            border: u.rem(2) solid u.$neutral-900;
            transition: none;
            margin: 0;
            box-shadow: none;
            transform: translateX(-50%);
            padding: u.rem(20) u.rem(60);

            @include u.responsive('mobile') {
                padding: u.rem(15) u.rem(40);
            }
        }
    }


    &__title-wrap {
        margin-bottom: u.$padding-30;
        // margin-top: u.$padding-100;

        @include u.responsive('pc') {
            padding-left: u.rem(130);
            padding-right: u.rem(130);
        }

        @include u.responsive('tablet') {
            padding-left: u.rem(32);
            padding-right: u.rem(32);
        }

        @include u.responsive('medium') {
            padding-left: u.rem(20);
            padding-right: u.rem(20);
        }

        @include u.responsive('mobile') {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__title {
        @include u.subtitle02;
        margin-bottom: u.$padding-10;
    }

    &__desc {
        @include u.mapBody01;
        // color: u.$neutral-800;

        span {
            color: u.$primary-600;
        }

        button {
            background-color: transparent;
            border: none;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: u.rem(20);

        @include u.responsive('tablet') {
            grid-template-columns: repeat(2, 1fr);
        }

        @include u.responsive('mobile') {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__grid-title {
        @include u.mapBody01;
        color: u.$neutral-900;

        &:hover {
            text-decoration: underline;
        }
    }

    &__grid-hashtag {
        @include u.mapBody02;
        color: u.$primary-600;
        line-height: 1.8;
    }


    &__grid-list {
        @include u.mapBody03;
        padding-left: 20px;
        list-style-position: inside;

        li {
            list-style: disc;
            // list-style-position: inside;
            // padding-left: 0
        }
    }

    &__grid-item {
        background-color: u.$neutral-50;
        // border: 1px solid #999;
        padding: u.rem(10);
        line-height: 1.5;
        word-break: keep-all
    }



    @-webkit-keyframes slideDown {
        0% {
            opacity: 1;
            -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }

    @keyframes slideDown {
        0% {
            opacity: 1;
            -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }

    .slide-down {

        @include u.responsive('mobile') {
            -webkit-animation-name: slideDown;
            animation-name: slideDown;
            height: auto;
            overflow: visible;
            padding-bottom: 50px;
        }
    }

    @-webkit-keyframes slideUp {
        0% {
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
        }

        100% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
        }
    }

    @keyframes slideUp {
        0% {
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
        }

        100% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
        }
    }

    .slide-up {

        @include u.responsive('mobile') {
            -webkit-animation-name: slideUp;
            animation-name: slideUp;
            height: 1800px;
            padding-bottom: 0;
            overflow: hidden;
        }
    }

    // .close-btn {
    //     background: none;
    // }

    /* 흰색 그라데이션 */
    .fade {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 200px;
        background: linear-gradient(to bottom,
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 1));
        pointer-events: none;
        display: none;

        @include u.responsive('mobile') {
            display: block;
        }
    }

    &__more-btn {
        display: none;
        position: absolute;
        bottom: u.rem(20);
        left: 50%;
        transform: translateX(-50%);

        &:hover {
            transform: translateX(-50%);
            margin: 0;
        }


        @include u.responsive('mobile') {

            display: block;

        }
    }

    &__report-cta {
        padding: u.$padding-80 0;
        text-align: center;
        background-color: u.$neutral-300;
    }

    &__report-text {
        line-height: 1.5;
    }

    &__report-title {
        @include u.mapBody04;
    }

    &__report-desc {
        @include u.mapBody03;
        margin-bottom: u.$padding-20;
    }

}