@use '../utils' as u;

.map {
    width: 100%;
    height: 100%;
    // overflow-x: hidden;

    &__conts-wrap {
        padding: u.$padding-100 0 u.$padding-160;
        background-color: u.$neutral-50;
        border-top-left-radius: u.rem(200);
        border-top-right-radius: u.rem(200);
        width: 100%;
        height: 100%;
        z-index: 1;
        position: relative;
        @include u.borderTopRadius();
        // margin-top: u.rem(-200);
    }

    &__img-wrap {
        width: 100%;
        height: 100%;
        position: relative;

        @include u.responsive('tablet') {
            // overflow-x: auto;
            overflow-y: hidden;
        }
    }


    &__img {
        img {
            height: 100%;
            width: 100%;
            @include u.img();

            @include u.responsive('tablet') {
                height: auto;
                width: auto;
                max-width: none;
                object-fit: none;
            }
        }
    }

    &__notice {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
        // margin-top: u.rem(-200);
        display: none;

        @include u.responsive('tablet') {
            display: block;
        }
    }


    &__title-wrap {
        margin-bottom: u.$padding-30;
    }

    &__title {
        @include u.subtitle02;
    }

    &__desc {
        @include u.mapBody01;
        // color: u.$neutral-800;

        span {
            color: u.$primary-600;
        }

        button {
            background-color: transparent;
            border: none;
            ;
        }
    }

    &__grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: u.rem(20);

        @include u.responsive('tablet') {
            grid-template-columns: repeat(2, 1fr);
        }

        @include u.responsive('mobile') {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__grid-title {
        @include u.mapBody01;
        color: u.$neutral-900;
    }

    &__grid-hashtag {
        @include u.mapBody02;
        color: u.$primary-600;
        line-height: 1.8;
    }


    &__grid-list {
        @include u.mapBody03;
        padding-left: 20px;
        list-style-position: inside;

        li {
            list-style: disc;
            // list-style-position: inside;
            // padding-left: 0
        }
    }

    &__grid-item {
        background-color: u.$neutral-50;
        // border: 1px solid #999;
        padding: u.rem(10);
        line-height: 1.5;
        word-break: keep-all
    }

    &__report-cta {
        padding: u.$padding-80 0;
        text-align: center;
        background-color: u.$neutral-300;
    }

    &__report-text {
        line-height: 1.5;
    }

    &__report-title {
        @include u.mapBody04;
    }

    &__report-desc {
        @include u.mapBody03;
        margin-bottom: u.$padding-20;
    }

}