@use '../utils' as u;

.map {
    width: 100%;
    height: 100%;
    // ==========================
    overflow-x: auto;
    overflow-y: hidden;
    // ============================

    &__conts-wrap {
        padding: u.$padding-100 0 u.$padding-160;
        background-color: u.$neutral-50;
        // @include u.borderTopRadius();
        width: 100%;
        height: 100%;
        z-index: 1;
        position: relative;
        // margin-top: u.rem(-200);

        @include u.responsive('tablet') {
            margin-top: 0;
        }
    }

    &__img-wrap {
        margin: 0 auto;
        width: u.rem(1900);
        height: 100%;
        // width: fit-content;
        // height: fit-content;
        position: relative;
        // ======================
        overflow-x: auto;
        overflow-y: hidden;
        // ======================

        @include u.responsive('tablet') {
            overflow-x: auto;
            overflow-y: hidden;
        }

        .pin-img {
            // ======================
            position: absolute;
            width: u.rem(1920);
            // ======================
            top: 0;
            left: 0;
            width: 100%;
            // height: 100%;
            z-index: 10;
        }

        .pin1 {
            position: absolute;
            top: 10vh;
            right: u.rem(580);
        }


        .pin2 {
            position: absolute;
            top: u.rem(410);
            right: u.rem(150);
        }

        .pin3 {
            position: absolute;
            top: u.rem(850);
            right: u.rem(220);
        }

        .pin4 {
            position: absolute;
            top: u.rem(910);
            right: u.rem(350);
        }

        .pin5 {
            position: absolute;
            top: u.rem(950);
            right: u.rem(720);
        }

        .pin6 {
            position: absolute;
            top: u.rem(1100);
            right: u.rem(550);
        }
    }


    &__img {

        img {

            height: 100%;
            // width: 100%;
            @include u.img();
            height: auto;
            width: auto;
            // width: fit-content;
            // height: fit-content;
            max-width: none;
            object-fit: none;

            @include u.responsive('tablet') {}
        }
    }

    &__notice {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
        // margin-top: u.rem(-200);
        display: none;

        @include u.responsive('tablet') {
            display: block;
        }
    }


    &__title-wrap {
        margin-bottom: u.$padding-30;
    }

    &__title {
        @include u.subtitle02;
    }

    &__desc {
        @include u.mapBody01;
        // color: u.$neutral-800;

        span {
            color: u.$primary-600;
        }

        button {
            background-color: transparent;
            border: none;
            ;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: u.rem(20);

        @include u.responsive('tablet') {
            grid-template-columns: repeat(2, 1fr);
        }

        @include u.responsive('mobile') {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__grid-title {
        @include u.mapBody01;
        color: u.$neutral-900;
    }

    &__grid-hashtag {
        @include u.mapBody02;
        color: u.$primary-600;
        line-height: 1.8;
    }


    &__grid-list {
        @include u.mapBody03;
        padding-left: 20px;
        list-style-position: inside;

        li {
            list-style: disc;
            // list-style-position: inside;
            // padding-left: 0
        }
    }

    &__grid-item {
        background-color: u.$neutral-50;
        // border: 1px solid #999;
        padding: u.rem(10);
        line-height: 1.5;
        word-break: keep-all
    }

    &__report-cta {
        padding: u.$padding-80 0;
        text-align: center;
        background-color: u.$neutral-300;
    }

    &__report-text {
        line-height: 1.5;
    }

    &__report-title {
        @include u.mapBody04;
    }

    &__report-desc {
        @include u.mapBody03;
        margin-bottom: u.$padding-20;
    }

}