@use '../utils' as u;

.report {
    &__form-wrap {
        @include u.borderTopRadius();
        margin-top: u.rem(-200);
        z-index: 1;
        position: relative;
        background-color: u.$neutral-50;
    }

    &__desc {
        padding: u.$padding-100 0 u.$padding-60;
        text-align: center;
        @include u.defineFont(u.rem(24));
    }


    &__form {
        div {
            padding-bottom: u.$padding-30;
            display: flex;
        }
    }

    fieldset {
        display: flex;
        flex-direction: column;
        gap: u.rem(20);

    }

    .form-row {
        display: flex;
        grid-template-columns: 120px 1fr; // ← 제목 폭 고정
        gap: 16px;
        align-items: flex-start;
        margin-bottom: 24px;

        @include u.responsive('mobile') {
            grid-template-columns: 1fr; // ← 모바일에서는 한 줄로
        }
    }

    .form-label {
        width: 120px;
        flex-shrink: 0;
        font-weight: 600;
        line-height: 40px; // input 높이랑 맞추기

        @include u.responsive('mobile') {
            width: 100%;
            line-height: normal;
        }
    }

    .form-field {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .address-row {
        display: flex;
        gap: 8px;
        width: 100%;
    }

    .address-row input {
        flex: 1; // 우편번호 input만 늘어나게
    }


    &__day {
        width: auto;

        span {
            @include u.reportBody02;
        }
    }

    &__address {
        div {
            @include u.flex(flex-start, stretch);
        }
    }

    &__address-btn {
        background-color: u.$neutral-900;
        color: u.$neutral-50;
    }

    &__checkbox {
        width: auto;

        label {
            @include u.reportBody02;
        }
    }

    &__btn {
        display: block;
        margin: 0 auto;
        margin: u.$padding-60 0 u.$padding-250;
    }
}