@use '../utils' as u;

.report {
    &__form-wrap {
        @include u.borderTopRadius();
        margin-top: u.rem(-200);
        z-index: 1;
        position: relative;
        background-color: u.$neutral-50;
    }

    &__desc {
        padding: u.$padding-100 0 u.$padding-60;
        text-align: center;
        @include u.defineFont(u.rem(24));
    }


    &__form {
        div {
            @include u.flex(flex-start, center);
            @include u.defineFont(u.rem(24), 600);
        }

        >div {
            padding-bottom: u.$padding-30;

        }
    }

    &__form {
        width: 100%;
    }

    .form-row {
        display: flex;
        align-items: flex-start;
        gap: u.rem(16);
        width: 100%;

        @include u.responsive('mobile') {
            flex-direction: column;
        }
    }

    .form-label {
        flex: 0 0 20%;
        min-width: 0;
        @include u.reportBody01;

        @include u.responsive('mobile') {
            width: 100%;
            line-height: normal;
        }
    }

    .form-field {
        // @include u.flex(stretch, center, u.rem(10), column);
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: u.rem(10);


        .day-group {
            display: flex;
            gap: u.rem(10);
            flex-wrap: wrap;
            align-items: center;

            input {
                width: auto;
                @include u.defineFont(u.rem(16));
            }
        }

        input,
        textarea,
        select {
            width: 100%;
            box-sizing: border-box;
        }
    }

    .address-field {
        // flex-direction: column;
        gap: u.rem(10);
    }

    &__address-btn {
        background-color: u.$neutral-900;
        color: u.$neutral-50;
        display: inline-block;
        padding: u.rem(20);
        margin-left: u.rem(20);
        border-radius: u.rem(10);
        border: none;
        @include u.reportBody02;

        // =============================
        background-color: u.$neutral-900;
        color: u.$neutral-50;
        white-space: nowrap; // 줄바꿈 방지
        flex-shrink: 0;
        // ================================
    }

    .address-row {
        // @include u.flex(flex-start, center, u.rem(8));
        display: flex;
        gap: u.rem(8);
        width: 100%;
        align-items: center;
    }

    // .address-row input {
    //     flex: 1;
    // }


    .checkbox {
        width: auto;

        span {
            @include u.reportBody02;
        }
    }

    &__btn {
        width: 100%;
        display: block;
        margin: 0 auto;
        margin: u.$padding-60 0 u.$padding-250;
    }
}