@use '../utils' as u;

.report {

    #conts2 {
        display: none;
    }

    &__form-wrap {
        @include u.borderTopRadius();
        margin-top: u.rem(-200);
        z-index: 1;
        position: relative;
        background-color: u.$neutral-50;
        margin-top: u.$padding-100 ;

        padding-bottom: u.$padding-250;
    }

    &__desc {
        padding-bottom: u.$padding-60;
        text-align: center;
        @include u.defineFont(u.rem(24));
    }



    &__form {
        @include u.reportBody01;
        width: 100%;
    }

    .form-row {
        display: flex;
        align-items: center;
        gap: u.rem(60);
        width: 100%;
        margin-bottom: u.rem(30);

        @include u.responsive('mobile') {
            flex-direction: column;
            gap: 0;
            align-items: stretch;
        }
    }

    .form-row:nth-child(2),
    .form-row:nth-child(7) {
        align-items: flex-start;

        .form-label {
            padding-top: u.rem(20);
        }
    }

    .form-label {
        flex: 0 0 u.rem(110);
        min-width: 0;
        @include u.reportBody01;

        @include u.responsive('mobile') {
            width: 100%;
            line-height: normal;
            flex: 0;
        }
    }

    .form-field {
        // @include u.flex(stretch, center, u.rem(10), column);
        flex: 1;
        min-width: 0;
        display: flex;
        // flex-direction: column;
        gap: u.rem(10);
        @include u.reportBody02;


        .day-group {
            display: flex;
            gap: u.rem(10);
            flex-wrap: wrap;
            align-items: center;

            input {
                width: auto;
                @include u.defineFont(u.rem(16));
            }
        }

        input:not([type="radio"], [type="checkbox"]),
        textarea {
            width: 100%;
            min-width: 0;
            max-width: none;
        }

        select {
            width: u.rem(430);
        }
    }


    .address-field {
        display: flex;
        flex-direction: column;
        gap: u.rem(30);

        @include u.responsive('mobile') {
            width: 100%;
        }
    }

    &__address-btn {
        background-color: u.$neutral-900;
        color: u.$neutral-50;
        display: inline-block;
        padding: u.rem(20);
        // margin-left: u.rem(20);
        border-radius: u.rem(10);
        border: none;
        @include u.reportBody02;

        // =============================
        background-color: u.$neutral-900;
        color: u.$neutral-50;
        white-space: nowrap; // 줄바꿈 방지
        flex-shrink: 0;
        // ================================
    }

    .address-row {
        display: flex;
        gap: u.rem(20);
        width: 100%;
        align-items: center;

        input:first-child {
            flex: 0 0 u.rem(430);

            @include u.responsive('mobile') {
                flex: 0;
            }
        }

        .address-row input {
            flex: 1;
        }
    }

    .checkbox {
        width: auto;
        margin-bottom: u.$padding-60;

        span {
            @include u.reportBody02;
        }
    }

    &__btn {
        width: 100%;
        display: block;
    }
}