@use '../utils' as u;

.report {
    &__form-wrap {
        @include u.borderTopRadius();
        margin-top: u.rem(-200);
        z-index: 1;
        position: relative;
        background-color: u.$neutral-50;
    }

    &__desc {
        padding: u.$padding-100 0 u.$padding-60;
        text-align: center;
        @include u.defineFont(u.rem(24));
    }


    &__form {
        div {
            display: flex;
            @include u.defineFont(u.rem(24), 600);
        }

        >div {
            padding-bottom: u.$padding-30;

        }
    }

    fieldset {
        display: flex;
        flex-direction: column;
        gap: u.rem(20);

    }

    .form-row {
        display: flex;
        gap: u.rem(16);
        align-items: flex-start;
        flex-direction: column;
        // margin-bottom: 24px;
    }

    .form-label {
        width: u.rem(120);
        flex-shrink: 0;
        font-weight: 600;
        line-height: 40px; // input 높이랑 맞추기
        @include u.reportBody01;

        @include u.responsive('mobile') {
            width: 100%;
            line-height: normal;
        }
    }

    .form-field {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: u.rem(10);


        .day-group {
            input {

                @include u.defineFont(u.rem(16));
            }
        }
    }

    .address-field {
        display: flex;
        flex-direction: column;
    }

    &__address-btn {
        background-color: u.$neutral-900;
        color: u.$neutral-50;
        display: inline-block;

        // =============================
        background-color: u.$neutral-900;
        color: u.$neutral-50;
        white-space: nowrap; // 줄바꿈 방지
        flex-shrink: 0;
        // ================================
    }

    .address-row {
        display: flex;
        flex-direction: row;
        gap: u.rem(8);
        width: 100%;
    }

    .address-row input {
        flex: 1;
    }


    .checkbox {
        width: auto;

        span {
            @include u.reportBody02;
        }
    }

    &__btn {
        width: 100%;
        display: block;
        margin: 0 auto;
        margin: u.$padding-60 0 u.$padding-250;
    }
}