@use '../utils' as u;

.report {

    #conts2 {
        display: none;
    }

    &__form-wrap {
        @include u.borderTopRadius();
        padding-top: u.$padding-100 ;
        padding-bottom: u.$padding-250;


        @include u.responsive('tablet') {
            padding-bottom: u.$padding-200;
        }

        @include u.responsive('medium') {
            padding-bottom: u.rem(180);
        }

        @include u.responsive('mobile') {
            // padding-top: u.$padding-80 ;
            // padding-bottom: u.$padding-180;
        }

        @include u.responsive('small') {
            padding-bottom: u.$padding-160;
        }
    }

    &__desc {
        padding-bottom: u.$padding-60;
        text-align: center;
        @include u.aboutBody01();
    }



    &__form {
        @include u.reportBody01;
        width: 100%;
    }

    .form-row {
        display: flex;
        align-items: center;
        gap: u.rem(60);
        width: 100%;
        margin-bottom: u.rem(30);

        @include u.responsive('medium') {
            flex-direction: column;
            gap: 0;
            align-items: stretch;
        }
    }

    .form-row:nth-child(2),
    .form-row:nth-child(7) {
        align-items: flex-start;
    }

    .form-label {
        flex: 0 0 u.rem(110);
        min-width: 0;
        @include u.reportBody01;
        padding-top: u.rem(20);

        @include u.responsive('medium') {
            width: 100%;
            line-height: normal;
            flex: 0;
            margin-bottom: u.rem(20);
            padding-top: 0;
        }
    }

    .form-field {
        display: flex;
        flex: 1;
        min-width: 0;
        flex-wrap: wrap;
        // flex-direction: column;
        gap: u.rem(20);
        @include u.reportBody02;

        @include u.responsive('medium') {
            width: 100%;
            flex: 1;
        }


        .day-group {
            // @include u.flex(start, center);
            gap: u.rem(10);
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
            flex: 1;

            input {
                width: auto;
                @include u.defineFont(u.rem(16));
            }


        }

        input:not([type="radio"], [type="checkbox"]),
        textarea {
            width: 100%;
            min-width: 0;
            max-width: none;
        }

        select {
            width: u.rem(410);
            appearance: none;
            background-image: url("/assets/img/report-select-img.webp");
            background-repeat: no-repeat;
            background-position: right u.rem(10) center;
            // @include u.bgImg();

            @include u.responsive('medium') {
                width: 100%;
            }
        }


    }


    .address-field {
        display: flex;
        flex-direction: column;
        gap: u.rem(30);

        @include u.responsive('medium') {
            width: 100%;
        }
    }

    &__address-btn {
        background-color: u.$neutral-900;
        color: u.$neutral-50;
        display: inline-block;
        padding: u.rem(20);
        // margin-left: u.rem(20);
        border-radius: u.rem(10);
        border: none;
        @include u.reportBody02;

        // =============================
        background-color: u.$neutral-900;
        color: u.$neutral-50;
        white-space: nowrap; // 줄바꿈 방지
        flex-shrink: 0;
        // ================================
    }

    .address-row {
        display: flex;
        gap: u.rem(20);
        width: 100%;
        align-items: center;

        input:first-child {
            flex: 0 0 u.rem(410);

            @include u.responsive('medium') {
                flex: 1;
            }
        }

        .address-row input {
            flex: 1;
        }
    }

    .checkbox {
        width: auto;
        margin-bottom: u.$padding-30;
        @include u.flex(start, center, u.rem(10));

        span {
            @include u.reportBody02;
        }

        @include u.responsive('small') {
            margin-bottom: u.rem(15);
        }
    }

    &__btn {
        width: 100%;
        display: block;
    }
}